<app-top-bar-gerente></app-top-bar-gerente>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Procesando Datos..." type="ball-atom">
</ngx-spinner>
<div class="content-wrapper"
  style="background-image: url('assets/images/fondos/cotizador.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover; min-height: calc(100vh - 0px);">
  <div class="container">
    <div class="contenedor">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
              aria-controls="collapseExample" style="background-color: #333333">
              <h5 class="mb-0" style="float: left">
                Gestión Usuario
              </h5>
              <i style="float: right" class="mdi mdi-chevron-down"></i>
            </div>
            <div class="collapse" id="collapseExample" class="card-body" style="color: black">
              <div class="row">
                <div class="col-12 col-md-12">

                  <kendo-grid [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort"
                    [sortable]="true" [pageable]="true" filterable="menu" (dataStateChange)="dataStateChange($event)"
                    style="border: none; font-size: 13px !important" scrollable="none" [resizable]="true">

                    <ng-template kendoGridToolbarTemplate>
                      <div style="float: right">
                        <button class="btn btn-dark" style="height: 38px !important;" (click)="agregarUsuarioVista()">
                          <i class="mdi mdi-save"></i> Agregar
                        </button>
                      </div>
                    </ng-template>

                    <kendo-grid-column field="broker.RazonSocial" title="Versión de Uso" width="130"
                      [headerStyle]="{'background-color': '#2C2C2C','color': '#fff'}">
                    </kendo-grid-column>
                    <kendo-grid-column field="NombreCorredor" title="Corredor" width="130"
                      [headerStyle]="{'background-color': '#2C2C2C','color': '#fff'}">
                      <ng-template kendoGridCellTemplate let-dataItem>
                        {{this.globales.obtenerLetrasCadena(dataItem.NombreCorredor)}}
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="Usuario" title="Nombre" [width]="200"
                      [headerStyle]="{'background-color': '#2C2C2C','color': '#fff'}">
                      <ng-template kendoGridCellTemplate let-dataItem>
                        <div>
                          <img class="img-xs rounded-circle" src="{{dataItem.Foto}}" alt="IMG">
                          <span>{{ dataItem.Usuario }}</span>
                        </div>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="Email" title="Email" [width]="180"
                      [headerStyle]="{'background-color': '#2C2C2C','color': '#fff' }">
                    </kendo-grid-column>

                    <kendo-grid-column field="Estado" title="Editar" width="70" [filterable]="false"
                      [headerStyle]="{'background-color': '#2C2C2C','color': '#fff'}">
                      <ng-template kendoGridCellTemplate let-dataItem>
                        <button type="button" class="btn btn-icons btn-rounded btn-warning"
                          (click)="mostrarDatos(dataItem)">
                          <i class="mdi mdi-pencil"></i>
                        </button>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="Estado" title="" width="70" [filterable]="false"
                      [headerStyle]="{'background-color': '#2C2C2C','color': '#fff'}">
                      <ng-template kendoGridCellTemplate let-dataItem>
                        <button itype="button" class="btn btn-icons btn-rounded btn-secondary"
                          (click)="cambiarContrasena(dataItem)">
                          <i class="mdi mdi-key"></i>
                        </button>
                      </ng-template>
                    </kendo-grid-column>

                    <kendo-grid-messages groupPanelEmpty="Arrastra aquí para agrupar"
                      noRecords="No hay elementos que mostrar." pagerPage="Página" pagerOf="de" pagerItems="ítems"
                      pagerItemsPerPage="ítems por página" filterClearButton="Limpiar" filterFilterButton="Buscar"
                      filterAndLogic="Y" filterOrLogic="O" filterEqOperator="Es igual a"
                      filterNotEqOperator="No es igual a" filterContainsOperator="Contiene"
                      filterNotContainsOperator="No contiene" filterStartsWithOperator="Comienza con"
                      filterEndsWithOperator="Termina con" filterIsNullOperator="Es nulo (null)"
                      filterIsNotNullOperator="No es nulo (null)" filterIsEmptyOperator="Esta vacio"
                      filterIsNotEmptyOperator="No está vacío" filterAfterOperator="Es posterior a"
                      filterAfterOrEqualOperator="Es posterior o igual a"
                      filterBeforeOrEqualOperator="Es anterior o igual a" filterBeforeOperator="Es antes">
                    </kendo-grid-messages>
                  </kendo-grid>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="modalUsuario" class="modal">
  <div class="modal-content" style="width: 750px !important;">
    <div style="width: 100%; border-bottom: 1px solid #000">
      <h5>Gestión Datos Usuario</h5>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label><b>Nombre</b></label>
              <input kendoTextBox type="text" [(ngModel)]="fmrUsuario.Usuario"
                style="font-size: 13px !important; height: 38px !important;"
                (keyup)="fmrUsuario.Usuario = validador.formatoCampo(fmrUsuario.Usuario, 'abcdefghijklmnñopqrstuvwxyzáéíóúÁÉÍÓÚABCDEFGHIJKLMNÑOPQRSTUVWXYZ ', 100, 1)" />
            </div>
          </div> 
          <div class="col-md-6">
            <div class="form-group">
              <label><b>Cédula</b></label>
              <input kendoTextBox type="text" [(ngModel)]="fmrUsuario.Cedula"
                style="font-size: 13px !important; height: 38px !important;"
                (keyup)="fmrUsuario.Cedula = validador.formatoCampo(fmrUsuario.Cedula, '1234567890', 10, 2)" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label><b>Correo Electrónico</b></label>
              <input kendoTextBox type="email" [(ngModel)]="fmrUsuario.Email"
                style="font-size: 13px !important; height: 38px !important;" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label><b>Contraseña</b></label>
              <input *ngIf="contrasenaGuardar" kendoTextBox type="password" [(ngModel)]="fmrUsuario.Contrasena"
                style="font-size: 13px !important; height: 38px !important;" />

              <input *ngIf="contrasenaModificar" kendoTextBox type="password" [(ngModel)]="fmrUsuario.Contrasena"
                style="font-size: 13px !important; height: 38px !important;" disabled />
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label><b>Versión de Uso</b></label>
              <kendo-dropdownlist [data]="dataBroker" [(ngModel)]="IdBroker" [filterable]="true" textField="RazonSocial"
                valueField="IdBroker" (ngModelChange)="filtarRoles()" (filterChange)="filtrarBroker($event)"
                style="font-size: 13px !important; height: 38px !important; width: 100%">
                <ng-template kendoDropDownListItemTemplate let-dataItem>
                  <span style="padding-left: 8px !important; font-size: 12px">{{ dataItem.RazonSocial }}</span>
                </ng-template>
              </kendo-dropdownlist>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label><b>Rol</b></label>
              <kendo-dropdownlist [data]="lstRol" [(ngModel)]="IdRol" (ngModelChange)="filtarRoles()" textField="text"
                valueField="value" style="font-size: 13px !important; height: 38px !important; width: 100%">
                <ng-template kendoDropDownListItemTemplate let-dataItem>
                  <span style="padding-left: 8px !important; font-size: 12px">{{ dataItem.text }}</span>
                </ng-template>
              </kendo-dropdownlist>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label><b>Ciudad</b></label>
              <kendo-dropdownlist [data]="dataCiudad" [(ngModel)]="Ciudad" [filterable]="true" textField="Nombre"
                valueField="Nombre" (filterChange)="filtrarCiudad($event)"
                style="font-size: 13px !important; height: 38px !important; width: 100%">
                <ng-template kendoDropDownListItemTemplate let-dataItem>
                  <span style="padding-left: 8px !important; font-size: 12px">{{ dataItem.Nombre }}</span>
                </ng-template>
              </kendo-dropdownlist>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label><b>Supervisor del Usuario</b></label>
              <kendo-dropdownlist [data]="dataPadre" [(ngModel)]="IdPadre" [filterable]="true" textField="Usuario"
                valueField="IdUsuario" (filterChange)="filtrarPadre($event)"
                style="font-size: 13px !important; height: 38px !important; width: 100%">
                <ng-template kendoDropDownListItemTemplate let-dataItem>
                  <img class="img-xs rounded-circle" src="{{dataItem.Foto}}" alt="IMG">
                  <span style="padding-left: 8px !important; font-size: 12px">{{ dataItem.Usuario }}</span>
                </ng-template>
              </kendo-dropdownlist>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label><b>Tipo Agente</b></label>
              <kendo-dropdownlist [data]="lstTipoAgente" [(ngModel)]="CodigoTipoAgente" textField="text"
                valueField="value" (ngModelChange)="listarAgentes()"
                style="font-size: 13px !important; height: 38px !important; width: 100%">
                <ng-template kendoDropDownListItemTemplate let-dataItem>
                  <span style="padding-left: 8px !important; font-size: 12px">{{ dataItem.text }}</span>
                </ng-template>
              </kendo-dropdownlist>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label><b>Agente</b></label>
              <kendo-dropdownlist [data]="dataAgente" [(ngModel)]="CodigoAgente" [filterable]="true"
                textField="nombreAgente" valueField="codigoAgente" (filterChange)="filtrarAgente($event)"
                style="font-size: 13px !important; height: 38px !important; width: 100%">
                <ng-template kendoDropDownListItemTemplate let-dataItem>
                  <span style="padding-left: 8px !important; font-size: 12px">{{ dataItem.nombreAgente }}</span>
                </ng-template>
              </kendo-dropdownlist>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label><b>Punto de Venta - Sucursal</b></label>
              <kendo-dropdownlist [data]="lstSucursal" [(ngModel)]="Sucursal" textField="Nombre" valueField="Union"
                style="font-size: 13px !important; height: 38px !important; width: 100%">
                <ng-template kendoDropDownListItemTemplate let-dataItem>
                  <span style="padding-left: 8px !important; font-size: 12px">{{ dataItem.Nombre }}</span>
                </ng-template>
              </kendo-dropdownlist>
            </div>
          </div>
          <!--<div class="col-md-12">
            <div class="form-group">
              <label><b>Comisión (%)</b></label>
              <kendo-dropdownlist [data]="lstComisiones" [(ngModel)]="Comision" textField="text" valueField="value"
                style="font-size: 13px !important; height: 38px !important; width: 100%">
                <ng-template kendoDropDownListItemTemplate let-dataItem>
                  <span style="padding-left: 8px !important; font-size: 12px">{{ dataItem.text }}</span>
                </ng-template>
              </kendo-dropdownlist>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label><b>Mostrar Combo - Corredores</b></label>
              <kendo-dropdownlist [data]="lstCorredores" [(ngModel)]="Corredores" textField="text" valueField="value"
                style="font-size: 13px !important; height: 38px !important; width: 100%">
                <ng-template kendoDropDownListItemTemplate let-dataItem>
                  <span style="padding-left: 8px !important; font-size: 12px">{{ dataItem.text }}</span>
                </ng-template>
              </kendo-dropdownlist>
            </div>
          </div>
        -->
        </div>
        <div class="row" style="padding-top: 20px !important; padding-bottom: 10px !important; ">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <button class="btn btn-block btn-secondary" style="height: 38px !important;" (click)="cerrarModal()">
              <i class="mdi mdi-close"></i> Cerrar
            </button>
          </div>
          <div class="col-md-4">
            <button *ngIf="botonGuardar" class="btn btn-dark btn-block" style="height: 38px !important;"
              (click)="gestionUsuario()">
              <i class="mdi mdi-content-save"></i> Guardar
            </button>
            <button *ngIf="botonModificar" class="btn btn-block btn-warning" style="height: 38px !important;"
              (click)="gestionUsuario()">
              <i class="mdi mdi-pencil"></i> Modificar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







<div class="modal" id="modalContrasena">
  <div class="modal-content" style="width: 550px !important;">
    <div class="modal-header">
      <h5 class="modal-title"><b>Gestión de Contraseña</b></h5>
      <button type="button" class="close" style="color: #8a0000 !important;" (click)="cerrarModalContrasena()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
          <div class="col-sm-12">
            <span style="font-size: 13px;"><b>Nota: </b> Al restablecer la contraseña el usuario deberá ingresa
              con: <br>
              <b><u>Qw12345678</u></b> </span>
          </div>
        </div><br>
        <div class="form-group row">
          <div class="col-sm-2"></div>

          <div class="col-sm-8">
            <button type="submit" class="btn btn-primary btn-block" (click)="gestionContrasena()">Resetear
              Contraseña</button>
          </div>
          <div class="col-sm-2"></div>
        </div>
    </div>
  </div>
</div>