<app-top-bar-supervision></app-top-bar-supervision>
<div class="content-wrapper"
  style="background-image: url('assets/images/fondos/cotizador.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover; min-height: calc(100vh - 0px);">
  <div class="contenedor">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Procesando Datos..."
      type="ball-atom">
    </ngx-spinner>
    <div class="row" style="color: black">
      <div class="col-md-10 offset-md-1">
        <div class="row">
          <div class="col-md-9">
            <div class="card" style="padding: 16px;">
              <div>
                <span style="float: left"><b>Resumen Global</b></span>
                <button type="button" class="btn btn-icons btn-rounded btn-dark" style="float: right"
                  (click)="listarUsuariosDependientes()">
                  <i class="mdi mdi-reload"></i>
                </button>
              </div>
            </div>
            <br>
          </div>
          <div class="col-md-3">
            <div class="card" style="padding-top: 5px; padding-bottom: 5px; padding-left: 15px; padding-right: 15px;">
              <div>
                <div class="float-left">
                  <i class="mdi mdi-account-location text-info icon-lg"></i>
                </div>
                <div class="float-right">
                  <p class="mb-0 text-right">Usuarios</p>
                  <div class="fluid-container">
                    <h3 class="font-weight-medium text-right mb-0">{{cotizacionesResumen.usuarios}}</h3>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>

        <div class="row">

          <!--PANEL 1-->
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-left">
                    <i class="mdi mdi-receipt text-warning icon-lg"></i>
                  </div>
                  <div class="float-right">
                    <p class="mb-0 text-right">Cotizaciones<br>Realizadas</p>
                    <div class="fluid-container">
                      <h3 class="font-weight-medium text-right mb-0">
                        <small>N°</small> {{ cotizacionesResumen.sinEmitir }}
                      </h3>
                    </div>
                  </div>
                </div>
                <p class="text-muted mt-3 mb-0">
                  <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i>N° Cotizaciones
                </p>
              </div>
            </div>
          </div>
          <!--PANEL 1-->

          <!--PANEL 2-->
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-left">
                    <i class="mdi mdi-poll-box text-success icon-lg"></i>
                  </div>
                  <div class="float-right">
                    <p class="mb-0 text-right">Cotizaciones<br>Emitidas</p>
                    <div class="fluid-container">
                      <h3 class="font-weight-medium text-right mb-0">
                        <small>N°</small> {{ cotizacionesResumen.emitidas }}
                      </h3>
                    </div>
                  </div>
                </div>
                <p class="text-muted mt-3 mb-0">
                  <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i>N° Cotizaciones
                </p>
              </div>
            </div>
          </div>
          <!--PANEL 2-->

          

          <!--PANEL 3-->
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-left">
                    <i class="mdi mdi-cube text-danger icon-lg"></i>
                  </div>
                  <div class="float-right">
                    <p class="mb-0 text-right">Ingresos<br>Cotizaciones</p>
                    <div class="fluid-container">
                      <h3 class="font-weight-medium text-right mb-0">
                        <small>$</small> {{ globales.formatearNumero(cotizacionesResumen.total, 2) }}
                      </h3>
                    </div>
                  </div>
                </div>
                <p class="text-muted mt-3 mb-0">
                  <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i>Cotizaciones Emitidas
                </p>
              </div>
            </div>
          </div>
          <!--PANEL 3-->

          
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <canvas id="canvas" height="100">{{ chart }}</canvas>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table style="width: 100%" border="1">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Usuario</th>
                        <th>N° Cotizaciones<br>Realizadas</th>
                        <th>N° Cotizaciones<br>Emitidas</th>
                        <th>Ingresos Generados<br>Cotizaciones Emitidas</th>
                        <td></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let datos of lstCotizaciones">
                        <td>
                          <img _ngcontent-c2="" alt="PYMES" class="img-xs rounded-circle"
                            src="{{ obtenerFoto(datos[0].IdUsuario_) }}">
                        </td>
                        <td>{{ obtenerNombre(datos[0].IdUsuario_) }}</td>
                        <td>{{ datos[0].SinEmitir }}</td>
                        <td>{{ datos[0].Emitidas }}</td>
                        <td>$ {{ globales.formatearNumero(datos[0].Total, 2) }}</td>
                        <td>
                          <button type="button" class="btn btn-icons btn-rounded btn-outline-secondary"
                            (click)="mostrarCotizacionesUsuario(datos[0].IdUsuario_)">
                            <i class="mdi mdi-file"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="modal fade bd-example-modal-lg" id="CotizacionesUsuario">
          <div class="modal-dialog modal-dialog-centered  modal-lg">
            <div class="modal-content">

              <div class="modal-header">
                <h4 class="modal-title">Detalle Cotizacion</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <div class="modal-body">

                <kendo-grid [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort"
                  [pageable]="true" filterable="menu" (dataStateChange)="dataStateChange($event)" style="border: none">

                  <kendo-grid-column>
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <table>
                        <tbody>
                          <tr>
                            <td><b>Código:</b></td>
                            <td>{{dataItem.Codigo}}</td>
                          </tr>
                          <tr>
                            <td><b>Fecha Generación:</b></td>
                            <td>{{dataItem.Fecha}}</td>
                          </tr>
                          <tr>
                            <td><b>Empresa Cotizada:</b></td>
                            <td>{{dataItem.Empresa.RazonSocial}}</td>
                          </tr>
                          <tr>
                            <td><b>Valor Cotizado:</b></td>
                            <td>$ {{globales.formatearNumero(dataItem.PrimaTotal,2)}}</td>
                          </tr>
                          <tr>
                            <td><b>Estado Cotización:</b></td>
                            <td>
                              <div *ngIf="dataItem.Estado == 1">
                                Cotización Generada
                              </div>
                              <div *ngIf="dataItem.Estado == 2">
                                Cotización Editada
                              </div>
                              <div *ngIf="dataItem.Estado == 3">
                                Cotización Enviada
                              </div>
                              <div *ngIf="dataItem.Estado == 4">
                                Cotización Pagada
                              </div>
                              <div *ngIf="dataItem.Estado == 5">
                                Cotización Emitida
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="2" style="text-align: center !important; ">
                              <div *ngIf="dataItem.Estado == 1">
                                <img src="../../../assets/images/pasos/paso1.png" alt="" style="width: 50%">
                              </div>
                              <div *ngIf="dataItem.Estado == 2">
                                <img src="../../../assets/images/pasos/paso2.png" alt="" style="width: 50%">
                              </div>
                              <div *ngIf="dataItem.Estado == 3">
                                <img src="../../../assets/images/pasos/paso3.png" alt="" style="width: 50%">
                              </div>
                              <div *ngIf="dataItem.Estado == 4">
                                <img src="../../../assets/images/pasos/paso4.png" alt="" style="width: 50%">
                              </div>
                              <div *ngIf="dataItem.Estado == 5">
                                <img src="../../../assets/images/pasos/paso5.png" alt="" style="width: 50%">
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </ng-template>
                  </kendo-grid-column>

                  <kendo-grid-messages groupPanelEmpty="Arrastra aquí para agrupar"
                    noRecords="No hay elementos que mostrar." pagerPage="Página" pagerOf="de" pagerItems="ítems"
                    pagerItemsPerPage="ítems por página" filterClearButton="Limpiar" filterFilterButton="Buscar"
                    filterAndLogic="Y" filterOrLogic="O" filterEqOperator="Es igual a"
                    filterNotEqOperator="No es igual a" filterContainsOperator="Contiene"
                    filterNotContainsOperator="No contiene" filterStartsWithOperator="Comienza con"
                    filterEndsWithOperator="Termina con" filterIsNullOperator="Es nulo (null)"
                    filterIsNotNullOperator="No es nulo (null)" filterIsEmptyOperator="Esta vacio"
                    filterIsNotEmptyOperator="No está vacío" filterAfterOperator="Es posterior a"
                    filterAfterOrEqualOperator="Es posterior o igual a"
                    filterBeforeOrEqualOperator="Es anterior o igual a" filterBeforeOperator="Es antes">
                  </kendo-grid-messages>
                </kendo-grid>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
