<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>

    <extensions>
    </extensions>

    <bindings>
      <webHttpBinding>
        <binding name="webHttpTransportSecurity" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehaviorAcceso">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceAuthorization serviceAuthorizationManagerType="SegurosEquinoccial.Pymes.Servicio.Token.GestionToken, SegurosEquinoccial.Pymes.Servicio" />
        </behavior>
        <behavior name="serviceBehaviorSinAcceso">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service behaviorConfiguration="serviceBehaviorAcceso" name="SegurosEquinoccial.Pymes.Servicio.Administracion.SAdministracion">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity"
                  contract="SegurosEquinoccial.Pymes.Servicio.Administracion.ISAdministracion" behaviorConfiguration="web"/>
        <endpoint address="mex"
                  binding="mexHttpsBinding"
                  contract="IMetadataExchange" />

      </service>
      <service behaviorConfiguration="serviceBehaviorAcceso" name="SegurosEquinoccial.Pymes.Servicio.Broker.SBroker">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity"
                  contract="SegurosEquinoccial.Pymes.Servicio.Broker.ISBroker" behaviorConfiguration="web"/>
        <endpoint address="mex"
                          binding="mexHttpsBinding"
                          contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehaviorSinAcceso" name="SegurosEquinoccial.Pymes.Servicio.Gestion.SGesConsultas">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity"
                  contract="SegurosEquinoccial.Pymes.Servicio.Gestion.ISGesConsultas" behaviorConfiguration="web"/>
        <endpoint address="mex"
                          binding="mexHttpsBinding"
                          contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehaviorSinAcceso" name="SegurosEquinoccial.Pymes.Servicio.Gestion.SGesTransacciones">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity"
                  contract="SegurosEquinoccial.Pymes.Servicio.Gestion.ISGesTransacciones" behaviorConfiguration="web"/>
        <endpoint address="mex"
                          binding="mexHttpsBinding"
                          contract="IMetadataExchange" />
      </service>
    </services>


    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
    <handlers>
      <add name=".svc" verb="*" path="*.svc"
      type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>

</configuration>

<!--
<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>

    <extensions>
    </extensions>

    <bindings>
      <webHttpBinding>
        <binding name="webHttpTransportSecurity" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehaviorAcceso">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceAuthorization serviceAuthorizationManagerType="SegurosEquinoccial.Pymes.Servicio.Token.GestionToken, SegurosEquinoccial.Pymes.Servicio" />
        </behavior>
        <behavior name="serviceBehaviorSinAcceso">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service behaviorConfiguration="serviceBehaviorAcceso" name="SegurosEquinoccial.Pymes.Servicio.Administracion.SAdministracion">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity"
                  contract="SegurosEquinoccial.Pymes.Servicio.Administracion.ISAdministracion" behaviorConfiguration="web"/>

      </service>
      <service behaviorConfiguration="serviceBehaviorAcceso" name="SegurosEquinoccial.Pymes.Servicio.Broker.SBroker">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity"
                  contract="SegurosEquinoccial.Pymes.Servicio.Broker.ISBroker" behaviorConfiguration="web"/>

      </service>
      <service behaviorConfiguration="serviceBehaviorSinAcceso" name="SegurosEquinoccial.Pymes.Servicio.Gestion.SGesConsultas">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity"
                  contract="SegurosEquinoccial.Pymes.Servicio.Gestion.ISGesConsultas" behaviorConfiguration="web"/>

      </service>
      <service behaviorConfiguration="serviceBehaviorSinAcceso" name="SegurosEquinoccial.Pymes.Servicio.Gestion.SGesTransacciones">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity"
                  contract="SegurosEquinoccial.Pymes.Servicio.Gestion.ISGesTransacciones" behaviorConfiguration="web"/>

      </service>
    </services>


    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
    <handlers>
      <add name=".svc" verb="*" path="*.svc"
      type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>

</configuration>

-->
