<app-top-bar-gerente></app-top-bar-gerente>
<div class="content-wrapper"
  style="background-image: url('assets/images/fondos/cotizador.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover; min-height: calc(100vh - 0px);">
  <div class="contenedor">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Procesando Datos..."
      type="ball-atom"></ngx-spinner>
    <div class="row" style="margin-top: 70px;">
      <div class="col-md-12">
        <div class="accordion" id="accordionExample">
          <!-- INICIO REPORTE DETALLE DE VALORES DE COTIZACIONES Y EMISIONES -->
          <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <a class="titulo-tarjeta" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                  aria-controls="collapseFour">
                  Detalle de Valores
                </a>
              </h2>
            </div>
            <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                <div class="row" id="filtros">
                  <div class="col-md-4" style="padding-top: 15px; padding-bottom: 15px;">
                    <h5 style="padding-bottom: 20px !important;">Versión de Uso</h5>
                    <kendo-multiselect [data]="lstBrokers" [(ngModel)]="rsBroker" [textField]="'RazonSocial'"
                      [valueField]="'IdBroker'" [placeholder]="'Listado de Brokers'">
                      <ng-template kendoMultiSelectItemTemplate let-dataItem>
                        <span style="padding-left: 15px !important; width: 100%;">{{ dataItem.RazonSocial }}</span>
                      </ng-template>
                    </kendo-multiselect>
                  </div>
                  <div class="col-md-8" style="padding-top: 15px; padding-bottom: 15px;">
                    <h5 style="padding-bottom: 20px !important;">Seleccione el rango de fechas</h5>
                    <kendo-daterange>
                      <div class="row">
                        <div class="col-md-6">
                          <kendo-dateinput kendoDateRangeStartInput [(ngModel)]="rango.Inicio"
                            [format]="'yyyy - MM - dd'" [min]="fechaInicio" [max]="fechaFin" style="width: 100%;">
                          </kendo-dateinput>
                        </div>
                        <div class="col-md-6">
                          <kendo-dateinput kendoDateRangeEndInput [(ngModel)]="rango.Fin" [format]="'yyyy - MM - dd'"
                            [min]="fechaInicio" [max]="fechaFin" style="width: 100%;">
                          </kendo-dateinput>
                        </div>
                      </div>
                    </kendo-daterange>
                  </div>
                  <div class="col-md-4" style="padding-top: 15px; padding-bottom: 15px;">
                    <h5 style="padding-bottom: 20px !important;">Consultar</h5>
                    <button class="btn-broker btn-effect-white btn btn-block"
                      (click)="CargarTablaDetalleValores(rsBroker)">Consultar Datos</button>
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-4" style="padding-top: 15px; padding-bottom: 15px;">
                    <h5 style="padding-bottom: 20px !important;">Exportar Datos</h5>
                    <button type="button" class="btn-broker btn btn-block" (click)="exportartableToExcel(rsBroker)">
                      <span class="mdi mdi-file-excel">
                        <b>Exportar a Excel</b>
                      </span>
                    </button>
                  </div>
                </div>
                <div class="row" id="tablas" style="margin-top: 50px !important;">
                  <div class="col-md-12">
                    <div class="row table-responsive" style="text-align: center;">
                      <h6><b>Detalle de Valores - Cotizaciones</b></h6>
                      <table class="table table-bordered" id="detalleCotizaciones" style="margin-top: 15px !important;">
                        <thead class="thead-dark">
                          <tr>
                            <th><b>Versión de Uso</b></th>
                            <th><b>Ciudad</b></th>
                            <th><b>Cantidad</b></th>
                            <th><b>Prima Neta</b></th>
                            <th><b>Prima Total</b></th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let datos of lstDetalleValoresCotizacionesBrokerCiudad">
                          <tr>
                            <td style="text-align: justify;">{{ datos.Broker }}</td>
                            <td style="text-align: justify;">{{ datos.Ciudad }}</td>
                            <td>{{ datos.Cantidad }}</td>
                            <td style="font-size: 13px !important;"><b>$</b><span
                              style="padding-left: 20px;"></span>{{ globales.formatearNumero(datos.PrimaNeta,2) }}</td>
                            <td style="font-size: 13px !important;"><b>$</b><span
                                style="padding-left: 20px;"></span>{{ globales.formatearNumero(datos.PrimaTotal,2) }}</td>
                          </tr>
                        </tbody>
                        <tfoot style="background-color: #E0E0E0 !important;">
                          <tr>
                            <td colspan="3" style="text-align: right !important; font-weight: bold !important;">
                              Total:
                            </td>
                            <td style="font-size: 15px !important;"><b>$<span
                              style="padding-left: 20px;">{{ totalPrimaNetaCotizaciones }}</span></b></td>
                            <td style="font-size: 15px !important;"><b>$<span
                                  style="padding-left: 20px;">{{ totalCotizaciones }}</span></b></td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-12" style="margin-top: 25px !important;">
                    <div class="row table-responsive" style="text-align: center;">
                      <h6><b>Detalle de Valores - Emisiones</b></h6>
                      <table class="table table-bordered" id="detalleEmisiones" style="margin-top: 15px !important;">
                        <thead class="thead-dark">
                          <tr>
                            <th><b>Versión de Uso</b></th>
                            <th><b>Ciudad</b></th>
                            <th><b>Cantidad</b></th>
                            <th><b>Prima Neta</b></th>
                            <th><b>Prima Total</b></th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let datos of lstDetalleValoresEmisionesBrokerCiudad">
                          <tr>
                            <td style="text-align: justify;">{{ datos.Broker }}</td>
                            <td style="text-align: justify;">{{ datos.Ciudad }}</td>
                            <td>{{ datos.Cantidad }}</td>
                            <td style="font-size: 13px !important;"><b>$</b><span
                              style="padding-left: 20px;"></span>{{ globales.formatearNumero(datos.PrimaNeta,2) }}</td>
                            <td style="font-size: 13px !important;"><b>$</b><span
                                style="padding-left: 20px;"></span>{{ globales.formatearNumero(datos.PrimaTotal,2) }}</td>
                          </tr>
                        </tbody>
                        <tfoot style="background-color: #E0E0E0 !important;">
                          <tr>
                            <td colspan="3" style="text-align: right !important; font-weight: bold !important;">
                              Total:
                            </td>
                            <td style="font-size: 15px !important;"><b>$<span
                              style="padding-left: 20px;">{{ totalPrimaNetaEmisiones }}</span></b></td>
                            <td style="font-size: 15px !important;"><b>$<span
                                  style="padding-left: 20px;">{{ totalEmisiones }}</span></b></td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- FIN REPORTE DETALLE DE VALORES DE COTIZACIONES Y EMISIONES -->

          <!-- INICIO REPORTE NUMERO DE COTIZACIONES POR BROKER Y VARIAS CIUDADES -->
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <a class="titulo-tarjeta" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                  aria-controls="collapseTwo">
                  Generar Reporte de Cotizaciones
                </a>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4" style="padding-top: 15px; padding-bottom: 15px; padding-left: 35px;">
                    <h5>Seleccione un broker</h5>
                  </div>
                  <div class="col-md-4" style="padding-top: 15px; padding-bottom: 15px;">
                    <h5>Seleccione una o varias ciudades</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4" style="padding-left: 35px;">
                    <kendo-combobox [data]="lstBrokers" [(ngModel)]="brokerSeleccionadoTres" [textField]="'RazonSocial'"
                      [valueField]="'IdBroker'" [valuePrimitive]="true"
                      (ngModelChange)="consultarCotizacionesCiudadesBroker(brokerSeleccionadoTres)" style="width: 100%"
                      [placeholder]="'Selecccione un Broker'">
                      <ng-template kendoComboBoxItemTemplate let-dataItem>
                        <span style="padding-left: 15px !important; width: 100%;">{{ dataItem.RazonSocial }}</span>
                      </ng-template>
                    </kendo-combobox>
                  </div>
                  <div class="col-md-4">
                    <kendo-multiselect [data]="lstReporteCiudadBrokerC" [(ngModel)]="filtros.lstCiudadesCotizadas"
                      [textField]="'Ciudad'" [valueField]="'Ciudad'" [placeholder]="'Seleccionar la ciudad'"
                      (ngModelChange)="graficarReporteCotizacionesBrokerCiudad(brokerSeleccionadoTres)">
                      <ng-template kendoMultiSelectItemTemplate let-dataItem>
                        <span style="padding-left: 15px !important; width: 100%;">{{ dataItem.Ciudad }}</span>
                      </ng-template>
                    </kendo-multiselect>
                  </div>
                  <div class="col-md-4">
                    <button type="button" class="btn-broker btn btn-block"
                      (click)="listarReporteCotizacionesBroker(brokerSeleccionadoTres)">
                      <span class="mdi mdi-file-excel">
                        <b>Exportar a Excel</b>
                      </span>
                    </button>
                    <div id="exportExcel"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <canvas style="margin-top: 15px;" id="canvasCotizaciones"
                    height="100">{{ chartReporteBarCotizaciones }}</canvas>
                  </div> 
                  <div class="col-md-12">
                    <canvas style="margin-top: 15px;" id="canvasCotizacionesPastel"
                    height="100">{{ chartReportePieCotizaciones }}</canvas>
                  </div>                        
                </div>
              </div>
            </div>
          </div>
          <!-- FIN REPORTE NUMERO DE COTIZACIONES POR BROKER Y VARIAS CIUDADES -->

          <!-- INICIO REPORTE NUMERO DE EMISIONES POR BROKER Y VARIAS CIUDADES -->
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <a class="titulo-tarjeta" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                  aria-controls="collapseThree">
                  Generar Reporte de Emisiones
                </a>
              </h2>
            </div>
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
              data-parent="#accordionExample">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4" style="padding-top: 15px; padding-bottom: 15px; padding-left: 35px;">
                    <h5>Seleccione un broker</h5>
                  </div>
                  <div class="col-md-4" style="padding-top: 15px; padding-bottom: 15px;">
                    <h5>Seleccione una o varias ciudades</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4" style="padding-left: 35px;">
                    <kendo-combobox [data]="lstBrokers" [(ngModel)]="brokerSeleccionadoCuatro"
                      [textField]="'RazonSocial'" [valueField]="'IdBroker'" [valuePrimitive]="true"
                      (ngModelChange)="consultarEmisionesCiudadesBroker(brokerSeleccionadoCuatro)" style="width: 100%"
                      [placeholder]="'Selecccione un Broker'">
                      <ng-template kendoComboBoxItemTemplate let-dataItem>
                        <span style="padding-left: 15px !important; width: 100%;">{{ dataItem.RazonSocial }}</span>
                      </ng-template>
                    </kendo-combobox>
                  </div>
                  <div class="col-md-4">
                    <kendo-multiselect [data]="lstReporteCiudadBrokerE" [(ngModel)]="filtros.lstCiudadesEmitidas"
                      [textField]="'Ciudad'" [valueField]="'Ciudad'" [placeholder]="'Seleccionar la ciudad'"
                      (ngModelChange)="graficarReporteEmisionesBrokerCiudad(brokerSeleccionadoCuatro)">
                      <ng-template kendoMultiSelectItemTemplate let-dataItem>
                        <span style="padding-left: 15px !important; width: 100%;">{{ dataItem.Ciudad }}</span>
                      </ng-template>
                    </kendo-multiselect>
                  </div>
                  <div class="col-md-4">
                    <button type="button" class="btn-broker btn btn-block"
                      (click)="listarReporteEmisionesBroker(brokerSeleccionadoCuatro)">
                      <span class="mdi mdi-file-excel">
                        <b>Exportar a Excel</b>
                      </span>
                    </button>
                    <div id="exportExcel"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <canvas style="margin-top: 15px;" id="canvasEmisiones"
                    height="100">{{ chartReporteBarEmisiones }}</canvas>
                  </div>
                  <div class="col-md-12">
                    <canvas style="margin-top: 15px;" id="canvasEmisionesPastel"
                    height="100">{{ chartReportePieEmisiones }}</canvas>
                  </div>                    
                </div>
              </div>
            </div>
          </div>
          <!-- FIN REPORTE NUMERO DE EMISIONES POR BROKER Y VARIAS CIUDADES -->
        </div>
      </div>
    </div>
  </div>
</div>