.empresa-paneles {
  background-color: #e1e1e1;
  color: black;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #e1e1e1;
  font-size: 14px;
}

.empresa-paneles-seleccionado {
  background-color: rgb(171, 79, 86);
  color: white;
  padding: 6px;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
}

.empresa-paneles-no-seleccionado {
  background-color: #e1e1e1;
  color: #393939;
  padding: 6px;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
}

.texto {
  font-size: 14px;
  color: black;
  height: 35px;
  width: 100%;
}

.cambiar-forma-pago{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px; 
  color: #FFFFFF;
  border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;
}

.texto-empresa {
  font-size: 14px;
  color: #fff;
  padding-top: 6px;
  padding-bottom: 6px;
}

.contenedor-texto-empresa {
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  background-color: #fff;
  border: none;
  padding: 8px;
  font-size: 14px;
  color: black;
}

.coberturas-seleccionada {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  background-color: #353535;
  color: #ffffff !important;
  padding-left: 12px;
  padding-right: 15px;
  padding-bottom: 2.5px;
}
.coberturas-seleccionada:hover {
  transform: scale(1.05);
}

.coberturas-no-seleccionada {
  color: #000 !important;
}
.coberturas-no-seleccionada:hover {
  transform: scale(1.05);
}

.texto-ramos {
  font-size: 14px;
  color: black;
  height: 35px;
  width: 100%;
  text-align: right;
}

.ubicacion-global {
  display: none;
}

.ubicacion-provincias {
  display: block;
}

.boton-paneles {
  font-size: 14px;
  text-align: left;
}

.paneles {
  color: white;
}

.steps {
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 1030;
  top: 60px;
  background-color: rgba(255, 255, 255, 1);
}

.steps-valores {
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 1030;
  top: 131px;
  left: 0px;
  background-color: #EDF0F1 !important
}

.contenido {
  padding-top: 130px;
}

.pagos-boton{
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  text-align: center !important;
  padding: 10px;
  border: 1.5px solid #3f3f3f;
  color: #3f3f3f;
}

.iconos-pago{
  font-size: 40px;
}

.pagos-boton:hover{
  background-color: #aaaaaa;
}

.pagos-boton-deshabilitado{
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  text-align: center !important;
  padding: 10px;
  border: 1.5px solid #8d8d8d;
  color: #8d8d8d;
}

@media screen and (max-width: 1241px) {
  .contenido {
    padding-top: 175px;
  }
}

@media screen and (max-width: 571px) {
  .contenido {
    padding-top: 225px;
  }
}

@media screen and (max-width: 425px) {
  .contenido {
    padding-top: 265px;
  }
}

.contenido-metodos-pago {
  width: 100%;
  text-align: justify;
  background-color: #e5e5e5;
  padding: 15px;
  border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
}

.mensaje-estado-pago {
  padding: 8px;
  color: #ffffff;
  width: 100%;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
}

@keyframes animacion-boton-pago {
  0% {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 9px rgba(0, 0, 0, 0);
  }
}

.boton-estado-pago {
  border: none;
  background-color: #3f3f3f;
  color: #ffffff;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  animation: animacion-boton-pago 1s infinite;
  cursor: pointer;
}

.boton-estado-pago:hover {
  background-color: #616161;
}

.boton {
  font-size: 10px;
  text-align: center;
}

.borde-redondeado {
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  background-color: rgba(0, 0, 0, 0.4);
}

.borde-redondeado-mapa {
  border-radius: 0px 0px 7px 7px;
  -moz-border-radius: 0px 0px 7px 7px;
  -webkit-border-radius: 0px 0px 7px 7px;
  height: 300px;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

thead {
  background-color: rgba(48, 48, 48, 0.9);
  color: #ffffff;
  border: 0px;
  text-align: center;
}

tbody {
  background-color: rgba(250, 250, 250, 1);
  color: #000000;
  border: 0px;
  text-align: left;
}

th,
td {
  padding: 15px;
}

.borde-redondeado-ramos {
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 1px solid #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.borde-redondeado-ramos:hover {
  background-color: rgba(250, 250, 250, 0.4);
  transform: scale(1.05);
}

.borde-redondeado-valores {
  background-color: rgb(237, 240, 241);
  padding-top: 11px;
  padding-bottom: 11px;
}

.borde-redondeado-cotizacion {
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.borde-redondeado-cotizacion-varios {
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  width: 100%;
  color: white;
  height: 40px !important;
}

.contenedor-vechiculos {
  border-radius: 0px 0px 7px 7px;
  -moz-border-radius: 0px 0px 7px 7px;
  -webkit-border-radius: 0px 0px 7px 7px;
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  padding-right: 10px;
  color: #000;
}

.contenedor-vechiculos-titulo {
  border-radius: 7px 7px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  -webkit-border-radius: 7px 7px 0px 0px;
  background-color: rgba(91, 91, 91, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.label-vehiculo {
  padding-top: 10px;
}

.busqueda-vehiculo {
  height: 35px;
  background-color: #303030;
  cursor: pointer;
}

.busqueda-vehiculo:hover {
  background-color: #545454;
}

@keyframes efecto-boton-cotizacion {
  0% {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
}

.btn-effect-white {
  animation: efecto-boton-cotizacion 1s infinite;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 1px rgba(206, 21, 21, 0.2);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(206, 21, 21, 0);
  }
}

@keyframes shadow-pulse-cotizacion {
  0% {
    box-shadow: 0 0 0 3px rgba(231, 76, 60, 0.5);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(2231, 76, 60, 0);
  }
}

.input-error-vehiculo {
  border: 1px solid #933232;
  animation: shadow-pulse 1s infinite;
}

.input-guardar-cotizacion {
  animation: shadow-pulse-cotizacion 1s infinite;
}

#tablaCotizacion td {
  padding: 10px;
  width: 100%;
}

#tablaPago td {
  padding: 10px;
}

.ramo-seleccionado:hover {
  box-shadow: 0 0 30px #d1d1d1;
}

.ramo-seleccionado-ts {
  box-shadow: 0 0 30px #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
  background-color: rgba(250, 250, 250, 0.2);
}

.ramo-movil {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.ramo-movil-ts {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.contenido-ramos-escritorio {
  display: block;
}

.contenido-ramos-movil {
  display: none;
}

ul#menu li {
  display: inline-block;
  margin: 0 0.6em;
  color: rgb(42, 65, 77);
}

ul#menu li:hover {
  color: #3f3f3f;
}

.valor-seleccionado {
  color: #3f3f3f;
}

.sweet-alert {
  height: 50px !important;
}

.alineacion-tabla {
  text-align: right;
}

.subramo-valores-escritorio {
  display: block;
}

.subramo-valores-movil {
  display: none;
}

.texto-aviso {
  font-size: 10px;
  color: white;
}

.estilo-cotizacion {
  font-size: 14.5px;
}

@media screen and (max-width: 800px) {
  .contenido-ramos-escritorio {
    display: none;
  }

  .contenido-ramos-movil {
    display: block;
  }

  .subramo-valores-escritorio {
    display: none;
  }

  .subramo-valores-movil {
    display: block;
  }
}

.boton-oscuro {
  background-color: rgba(33, 33, 33, 0.7);
  border: 1px solid #ffffff;
  color: white;
  padding-left: 6px;
  padding-right: 2px;
  padding-bottom: 1.5px;
  padding-top: 1.5px;
}

.boton-oscuro:hover {
  background-color: rgba(185, 185, 185, 0.7);
  border: 1px solid #b9b9b9;
  color: #474747;
  padding-left: 6px;
  padding-right: 2px;
  padding-bottom: 1.5px;
  padding-top: 1.5px;
}

/*DIRECCIONES*/
.panel-direcciones-header {
  padding: 10px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}

/*RAMOS MOVIL*/
.titulo-ramo-movil {
  background-color: rgba(46, 46, 46, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  border-bottom-style: solid;
  border-bottom-color: white;
}
.fondo-ramo-movil {
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.fondo-vehiculos {
  background-color: rgba(48, 48, 48, 0.7);
  color: white;
}

.boton-vehiculos {
  color: white;
  outline: none;
  background-color: transparent;
  border: 0px;
}

@media only screen and (min-width: 1170px) {
  section {
    padding: 6em 0;
  }

  section h2 {
    margin: 0 auto 3em;
  }
}

/* --------------------------------
Basic Style
-------------------------------- */
.cd-breadcrumb,
.cd-multi-steps {
  width: 90%;
  /*height: 20px;
  max-height: 20px;*/
  max-width: 100%;
  padding: 0.5em 1em;
  margin: 1em auto;
  background-color: #edeff0;
  border-radius: 0.25em;
}

.cd-breadcrumb:after,
.cd-multi-steps:after {
  content: "";
  display: table;
  clear: both;
}

.cd-breadcrumb li,
.cd-multi-steps li {
  display: inline-block;
  float: none;
  margin: 0.5em 0;
}

.cd-breadcrumb li::after,
.cd-multi-steps li::after {
  /* this is the separator between items */
  display: inline-block;
  content: "\00bb";
  margin: 0 0.6em;
  color: #959fa5;
  max-height: 48px;
}

.cd-breadcrumb li:last-of-type::after,
.cd-multi-steps li:last-of-type::after {
  /* hide separator after the last item */
  display: none;
}

.cd-breadcrumb li > *,
.cd-multi-steps li > * {
  /* single step */
  display: inline-block;
  font-size: 1.4rem;
  color: #2c3f4c;
  max-height: 48px;
}

.cd-breadcrumb li.current > *,
.cd-multi-steps li.current > * {
  /* selected step */
  color: #3f3f3f;
}

.no-touch .cd-breadcrumb a:hover,
.no-touch .cd-multi-steps a:hover {
  /* steps already visited */
  color: #3f3f3f;
}

.cd-breadcrumb.custom-separator li::after,
.cd-multi-steps.custom-separator li::after {
  /* replace the default arrow separator with a custom icon */
  content: "";
  height: 16px;
  width: 16px;
  background: url() no-repeat center center;
  vertical-align: middle;
}

.cd-breadcrumb.custom-icons li > *::before,
.cd-multi-steps.custom-icons li > *::before {
  /* add a custom icon before each item */
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 0.4em;
  margin-top: -2px;
  background: url() no-repeat 0 0;
  vertical-align: middle;
}

.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(2) > *::before,
.cd-multi-steps.custom-icons li:not(.current):nth-of-type(2) > *::before {
  /* change custom icon using image sprites */
  background-position: -20px 0;
}

.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(3) > *::before,
.cd-multi-steps.custom-icons li:not(.current):nth-of-type(3) > *::before {
  background-position: -40px 0;
}

.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(4) > *::before,
.cd-multi-steps.custom-icons li:not(.current):nth-of-type(4) > *::before {
  background-position: -60px 0;
}

.cd-breadcrumb.custom-icons li.current:first-of-type > *::before,
.cd-multi-steps.custom-icons li.current:first-of-type > *::before {
  /* change custom icon for the current item */
  background-position: 0 -20px;
}

.cd-breadcrumb.custom-icons li.current:nth-of-type(2) > *::before,
.cd-multi-steps.custom-icons li.current:nth-of-type(2) > *::before {
  background-position: -20px -20px;
}

.cd-breadcrumb.custom-icons li.current:nth-of-type(3) > *::before,
.cd-multi-steps.custom-icons li.current:nth-of-type(3) > *::before {
  background-position: -40px -20px;
}

.cd-breadcrumb.custom-icons li.current:nth-of-type(4) > *::before,
.cd-multi-steps.custom-icons li.current:nth-of-type(4) > *::before {
  background-position: -60px -20px;
}

@media only screen and (min-width: 768px) {
  .cd-breadcrumb,
  .cd-multi-steps {
    padding: 0 1.2em;
  }

  .cd-breadcrumb li,
  .cd-multi-steps li {
    margin: 1.2em 0;
  }

  .cd-breadcrumb li::after,
  .cd-multi-steps li::after {
    margin: 0 1em;
  }

  .cd-breadcrumb li > *,
  .cd-multi-steps li > * {
    font-size: 1.6rem;
  }
}

/* --------------------------------
Triangle breadcrumb
-------------------------------- */
@media only screen and (min-width: 768px) {
  .cd-breadcrumb.triangle {
    /* reset basic style */
    background-color: transparent;
    padding: 0;
  }

  .cd-breadcrumb.triangle li {
    position: relative;
    padding: 0;
    margin: 4px 4px 4px 0;
  }

  .cd-breadcrumb.triangle li:last-of-type {
    margin-right: 0;
  }

  .cd-breadcrumb.triangle li > * {
    position: relative;
    padding: 0.3em 0.8em 0.3em 2.5em;
    color: #fff;
    background-color: #686868;
    /* the border color is used to style its ::after pseudo-element */
    border-color: #686868;
    max-height: 48px;
  }

  .cd-breadcrumb.triangle li.current > * {
    color: #ffffff;
    background-color: #3f3f3f;
    border-color: #3f3f3f;
  }

  .cd-breadcrumb.triangle li:first-of-type > * {
    padding-left: 1.6em;
    border-radius: 0.25em 0 0 0.25em;
  }

  .cd-breadcrumb.triangle li:last-of-type > * {
    padding-right: 1.6em;
    border-radius: 0 0.25em 0.25em 0;
  }

  .no-touch .cd-breadcrumb.triangle a:hover {
    /* steps already visited */
    color: #ffffff;
    background-color: #2c3f4c;
    border-color: #2c3f4c;
  }

  .cd-breadcrumb.triangle li::after,
  .cd-breadcrumb.triangle li > *::after {
    /*
    	li > *::after is the colored triangle after each item
    	li::after is the white separator between two items
    */
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    content: "";
    height: 0;
    width: 0;
    /* 48px is the height of the <a> element */
    border: 18.5px solid transparent;
    border-right-width: 0;
    border-left-width: 20px;
  }

  .cd-breadcrumb.triangle li::after {
    /* this is the white separator between two items */
    z-index: 1;
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
    border-left-color: #ffffff;
    /* reset style */
    margin: 0;
  }

  .cd-breadcrumb.triangle li > *::after {
    /* this is the colored triangle after each element */
    z-index: 2;
    border-left-color: inherit;
  }

  .cd-breadcrumb.triangle li:last-of-type::after,
  .cd-breadcrumb.triangle li:last-of-type > *::after {
    /* hide the triangle after the last step */
    display: none;
  }

  .cd-breadcrumb.triangle.custom-separator li::after {
    /* reset style */
    background-image: none;
  }

  .cd-breadcrumb.triangle.custom-icons li::after,
  .cd-breadcrumb.triangle.custom-icons li > *::after {
    /* 50px is the height of the <a> element */
    border-top-width: 25px;
    border-bottom-width: 25px;
  }

  @-moz-document url-prefix() {
    .cd-breadcrumb.triangle li::after,
    .cd-breadcrumb.triangle li > *::after {
      /* fix a bug on Firefix - tooth edge on css triangle */
      border-left-style: dashed;
    }
  }
}
/* --------------------------------
Custom icons hover effects - breadcrumb and multi-steps
-------------------------------- */
@media only screen and (min-width: 768px) {
  .no-touch
    .cd-breadcrumb.triangle.custom-icons
    li:first-of-type
    a:hover::before,
  .cd-breadcrumb.triangle.custom-icons li.current:first-of-type em::before,
  .no-touch
    .cd-multi-steps.text-center.custom-icons
    li:first-of-type
    a:hover::before,
  .cd-multi-steps.text-center.custom-icons li.current:first-of-type em::before {
    /* change custom icon using image sprites - hover effect or current item */
    background-position: 0 -40px;
  }

  .no-touch
    .cd-breadcrumb.triangle.custom-icons
    li:nth-of-type(2)
    a:hover::before,
  .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(2) em::before,
  .no-touch
    .cd-multi-steps.text-center.custom-icons
    li:nth-of-type(2)
    a:hover::before,
  .cd-multi-steps.text-center.custom-icons
    li.current:nth-of-type(2)
    em::before {
    background-position: -20px -40px;
  }

  .no-touch
    .cd-breadcrumb.triangle.custom-icons
    li:nth-of-type(3)
    a:hover::before,
  .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(3) em::before,
  .no-touch
    .cd-multi-steps.text-center.custom-icons
    li:nth-of-type(3)
    a:hover::before,
  .cd-multi-steps.text-center.custom-icons
    li.current:nth-of-type(3)
    em::before {
    background-position: -40px -40px;
  }

  .no-touch
    .cd-breadcrumb.triangle.custom-icons
    li:nth-of-type(4)
    a:hover::before,
  .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(4) em::before,
  .no-touch
    .cd-multi-steps.text-center.custom-icons
    li:nth-of-type(4)
    a:hover::before,
  .cd-multi-steps.text-center.custom-icons
    li.current:nth-of-type(4)
    em::before {
    background-position: -60px -40px;
  }
}
/* --------------------------------
Multi steps indicator
-------------------------------- */
@media only screen and (min-width: 768px) {
  .cd-multi-steps {
    /* reset style */
    background-color: transparent;
    padding: 0;
    text-align: center;
  }

  .cd-multi-steps li {
    position: relative;
    float: none;
    margin: 0.4em 40px 0.4em 0;
  }

  .cd-multi-steps li:last-of-type {
    margin-right: 0;
  }

  .cd-multi-steps li::after {
    /* this is the line connecting 2 adjacent items */
    position: absolute;
    content: "";
    height: 4px;
    background: #edeff0;
    /* reset style */
    margin: 0;
  }

  .cd-multi-steps li.visited::after {
    background-color: #3f3f3f;
  }

  .cd-multi-steps li > *,
  .cd-multi-steps li.current > * {
    position: relative;
    color: #2c3f4c;
  }

  .cd-multi-steps.custom-separator li::after {
    /* reset style */
    height: 4px;
    background: #edeff0;
  }

  .cd-multi-steps.text-center li::after {
    width: 100%;
    top: 50%;
    left: 100%;
    -webkit-transform: translateY(-50%) translateX(-1px);
    -moz-transform: translateY(-50%) translateX(-1px);
    -ms-transform: translateY(-50%) translateX(-1px);
    -o-transform: translateY(-50%) translateX(-1px);
    transform: translateY(-50%) translateX(-1px);
  }

  .cd-multi-steps.text-center li > * {
    z-index: 1;
    padding: 0.6em 1em;
    border-radius: 0.25em;
    background-color: #edeff0;
  }

  .no-touch .cd-multi-steps.text-center a:hover {
    background-color: #2c3f4c;
  }

  .cd-multi-steps.text-center li.current > *,
  .cd-multi-steps.text-center li.visited > * {
    color: #ffffff;
    background-color: #3f3f3f;
  }

  .cd-multi-steps.text-center.custom-icons li.visited a::before {
    /* change the custom icon for the visited item - check icon */
    background-position: 0 -60px;
  }

  .cd-multi-steps.text-top li,
  .cd-multi-steps.text-bottom li {
    width: 80px;
    text-align: center;
  }

  .cd-multi-steps.text-top li::after,
  .cd-multi-steps.text-bottom li::after {
    /* this is the line connecting 2 adjacent items */
    position: absolute;
    left: 50%;
    /* 40px is the <li> right margin value */
    width: calc(100% + 40px);
  }

  .cd-multi-steps.text-top li > *::before,
  .cd-multi-steps.text-bottom li > *::before {
    /* this is the spot indicator */
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #edeff0;
  }

  .cd-multi-steps.text-top li.visited > *::before,
  .cd-multi-steps.text-top li.current > *::before,
  .cd-multi-steps.text-bottom li.visited > *::before,
  .cd-multi-steps.text-bottom li.current > *::before {
    background-color: #3f3f3f;
  }

  .no-touch .cd-multi-steps.text-top a:hover,
  .no-touch .cd-multi-steps.text-bottom a:hover {
    color: #3f3f3f;
  }

  .no-touch .cd-multi-steps.text-top a:hover::before,
  .no-touch .cd-multi-steps.text-bottom a:hover::before {
    box-shadow: 0 0 0 3px rgba(150, 192, 61, 0.3);
  }

  .cd-multi-steps.text-top li::after {
    /* this is the line connecting 2 adjacent items */
    bottom: 4px;
  }

  .cd-multi-steps.text-top li > * {
    padding-bottom: 20px;
  }

  .cd-multi-steps.text-top li > *::before {
    /* this is the spot indicator */
    bottom: 0;
  }

  .cd-multi-steps.text-bottom li::after {
    /* this is the line connecting 2 adjacent items */
    top: 3px;
  }

  .cd-multi-steps.text-bottom li > * {
    padding-top: 20px;
  }

  .cd-multi-steps.text-bottom li > *::before {
    /* this is the spot indicator */
    top: 0;
  }
}
/* --------------------------------
Add a counter to the multi-steps indicator
-------------------------------- */
.cd-multi-steps.count li {
  counter-increment: steps;
}

.cd-multi-steps.count li > *::before {
  content: counter(steps) " - ";
}

@media only screen and (min-width: 768px) {
  .cd-multi-steps.text-top.count li > *::before,
  .cd-multi-steps.text-bottom.count li > *::before {
    /* this is the spot indicator */
    content: counter(steps);
    height: 26px;
    width: 26px;
    line-height: 26px;
    font-size: 1.4rem;
    color: #ffffff;
  }

  .cd-multi-steps.text-top.count li:not(.current) em::before,
  .cd-multi-steps.text-bottom.count li:not(.current) em::before {
    /* steps not visited yet - counter color */
    color: #2c3f4c;
  }

  .cd-multi-steps.text-top.count li::after {
    bottom: 11px;
  }

  .cd-multi-steps.text-top.count li > * {
    padding-bottom: 34px;
  }

  .cd-multi-steps.text-bottom.count li::after {
    top: 11px;
  }

  .cd-multi-steps.text-bottom.count li > * {
    padding-top: 34px;
  }
}
