<footer class="footer" style="background-color: #090909; padding: 9px 30px 9px 30px">
  <div class="container-fluid clearfix row">
    <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6" style="text-align: left;">
      <img src="assets/images/brokers/segurosequinoccialblanco.png" alt="Seguros Equinoccial"
        style="width: 180px; height: 50px;" />
    </div>
    <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6" style="text-align: right;">
      <img class="logo-pymes" src="assets/images/LogoPymesBlanco.png" alt="COTIZADOR PYMES" width="180">
    </div>
  </div>
</footer>
