.contenedor {
  padding-top: 95px;
  color: white;
}

.titulo {
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 1030;
  top: 61px;
  background-color: rgba(255, 255, 255, 1);
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

thead {
  background-color: rgba(48, 48, 48, 1);
  color: #ffffff;
  border: 0px;
  text-align: center;
}

tbody {
  background-color: rgba(250, 250, 250, 1);
  color: #000000;
  border: 0px;
  text-align: left;
}

th,
td {
  padding: 5px;
}

.titulo-tabla {
  color: #ffffff;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.subtitulo-tabla {
  color: #ffffff;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.texto-tabla{
  padding-right: 70px !important;
  text-align: justify !important;
}

@keyframes efecto-boton-continuar {
  0% {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
}

.contenedor2 {
  width: 90px;
  height: 240px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.botonF1 {
  background: #ffffff;
  text-align: center;
  right: 0;
  bottom: 0;
  position: fixed;
  margin-right: 30px;
  margin-bottom: 15px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  animation: efecto-boton-continuar 1s infinite;
  padding: 2px;
  font-size: 36px;
  outline: none;
  cursor: pointer;
}
