<app-top-bar-supervision></app-top-bar-supervision>
<div class="content-wrapper"
  style="background-image: url('assets/images/fondos/cotizador.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover; min-height: calc(100vh - 0px);">
  <div class="contenedor">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Procesando Datos..."
      type="ball-atom">
    </ngx-spinner>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                aria-controls="collapseExample" style="background-color: #333333">
                <h5 class="mb-0" style="float: left">
                  Filtros:
                </h5>
                <i style="float: right" class="mdi mdi-chevron-down"></i>
              </div>
              <div class="collapse" id="collapseExample" class="card-body" style="color: black">
                <div class="row">
                  <div class="col-md-6">
                    <span>Usuarios:</span>
                    <kendo-multiselect [data]="lstUsuarios" [(ngModel)]="filtros.usuarios" textField="texto"
                      valueField="valor" placeholder="Seleccionar usuario para la búsqueda"
                      (ngModelChange)="consultarResumenCotizaciones()">
                      <ng-template kendoMultiSelectItemTemplate let-dataItem>
                        <img class="img-xs rounded-circle" src="{{dataItem.foto}}" alt="IMG">
                        <span style="padding-left: 15px !important; width: 100%;">{{ dataItem.texto }}</span>
                      </ng-template>
                    </kendo-multiselect>
                  </div>
                  <div class="col-md-3">
                    <span>Fecha Inicio:</span>
                    <kendo-datepicker [(ngModel)]="filtros.fechaInicio" [format]="'yyyy - MM - dd'"
                      (ngModelChange)="consultarResumenCotizaciones()"></kendo-datepicker>
                  </div>
                  <div class="col-md-3">
                    <span>Fecha Fin:</span>
                    <kendo-datepicker [(ngModel)]="filtros.fechaFin" (ngModelChange)="consultarResumenCotizaciones()" [format]="'yyyy - MM - dd'">
                    </kendo-datepicker>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>

        <!--INICIO DE LA PARTE DE LOS CUADROS -->
        
        <div class="row" style="color: black">

          <!-- INICIO CUADRO DEl USUARIO -->
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
              <div class="card-body">
                <div class="clearfix">

                  <div id="listaUsuarios" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="d-block w-100" style="text-align: center">
                          <div class="clearfix">
                            <div class="float-left">
                              <i class="mdi mdi-account-location text-info icon-lg"></i>
                            </div>
                            <div class="float-right">
                              <p class="mb-0 text-right">Usuarios<br>Seleccionados</p>
                              <div class="fluid-container">
                                <h3 class="font-weight-medium text-right mb-0"><small>N°</small>
                                  {{ cotizacionesResumen.usuarios }}</h3>
                              </div>
                            </div>
                          </div>
                          <p class="text-muted mt-3 mb-0">
                            <i class="mdi mdi-reload mr-1" aria-hidden="true"></i> N° Usuarios
                          </p>
                        </div>
                      </div>
                      <div *ngFor="let usuario of filtros.usuarios" class="carousel-item">
                        <div class="d-block w-100" style="text-align: center">
                          <img class="rounded-circle" src="{{ usuario.foto }}" alt="First slide" width="80"
                            height="80"><br>
                          <span style="font-size: 14px; font-weight: bold; ">{{ separador(usuario.texto) }}</span>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#listaUsuarios" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#listaUsuarios" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- FIN CUADRO DEl USUARIO -->
          
          <!-- INICIO CUADRO DEl TOTAL COTIZADO -->
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-left">
                    <i class="mdi mdi-receipt text-warning icon-lg"></i>
                  </div>
                  <div class="float-right">
                    <p class="mb-0 text-right">Cotizaciones<br>Realizadas</p>
                    <div class="fluid-container">
                      <h3 class="font-weight-medium text-right mb-0"><small>N°</small>
                        {{ cotizacionesResumen.noConcretadas }}</h3>
                    </div>
                  </div>
                </div>
                <p class="text-muted mt-3 mb-0">
                  <i class="mdi mdi-calendar mr-1" aria-hidden="true"></i> Total Cotizaciones
                </p>
              </div>
            </div>
          </div>
          <!-- FIN CUADRO DEl TOTAL COTIZADO -->

          <!-- INICIO CUADRO DEl TOTAL EMITIDO -->
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-left">
                    <i class="mdi mdi-poll-box text-success icon-lg"></i>
                  </div>
                  <div class="float-right">
                    <p class="mb-0 text-right">Cotizaciones<br>Emitidas</p>
                    <div class="fluid-container">
                      <h3 class="font-weight-medium text-right mb-0"><small>N°</small>
                        {{ cotizacionesResumen.concretadas }}</h3>
                    </div>
                  </div>
                </div>
                <p class="text-muted mt-3 mb-0">
                  <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Total Emisiones
                </p>
              </div>
            </div>
          </div>
          <!-- FIN CUADRO DEl TOTAL EMITIDO -->

          <!-- INICIO CUADRO DEl TOTAL DE RECAUDADO -->
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-left">
                    <i class="mdi mdi-cube text-danger icon-lg"></i>
                  </div>
                  <div class="float-right">
                    <p class="mb-0 text-right">Ingresos<br>Emisiones</p>
                    <div class="fluid-container">
                      <h3 class="font-weight-medium text-right mb-0"><small>$</small> {{ cotizacionesResumen.total }}
                      </h3>
                    </div>
                  </div>
                </div>
                <p class="text-muted mt-3 mb-0">
                  <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i>Total Recaudado
                </p>
              </div>
            </div>
          </div>
          <!-- FIN CUADRO DEl TOTAL DE RECAUDADO -->

        </div>

        <!--FIN DE LA PARTE DE LOS CUADROS -->

        <div class="row">
          <div class="col-md-12">
            <kendo-grid [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort"
              [sortable]="true" [pageable]="true" filterable="menu" [resizable]="true" [groupable]="true"
              [group]="groups" (groupChange)="groupChange($event)" (dataStateChange)="dataStateChange($event)"
              style="border: none; font-size: 12px !important;">

              <ng-template kendoGridToolbarTemplate>
                <button type="button" kendoGridPDFCommand icon="file-pdf"
                  style="font-size: 12px !important; background-color: #CB4335; color: #FFFFFF">
                  <b>Exportar a PDF</b>
                </button>

                <button type="button" kendoGridExcelCommand icon="file-excel"
                  style="font-size: 12px !important; background-color: #107C41; color: #FFFFFF">
                  <b>Exportar a Excel</b>
                </button>

                <div style="float: right">
                  <small>Estados: Emitida = 5 | Sin Emitir != 5 </small>
                </div>
              </ng-template>

              <kendo-grid-column media="(max-width: 800px)" title="Cotizaciones" [filterable]="true"
                [headerStyle]="{'background-color': '#2C2C2C','color': '#fff'}">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <!-- template for mobile -->
                  <h4 [class.discontinued]="dataItem.Empresa.RazonSocial" style="text-align: center; font-weight: bold">
                    {{ dataItem.Empresa.RazonSocial }}
                  </h4>
                  <dl>
                    <dt>Contacto</dt>
                    <dd>{{ dataItem.Empresa.Telefono }}</dd>

                    <dt>Fecha Generación</dt>
                    <dd>{{ dataItem.Fecha }}</dd>

                    <dt>Antiguedad</dt>
                    <dd>
                      <span [ngStyle]="{'color': verificarVencimientoCotizacion(dataItem.Antiguedad).color}">
                        {{dataItem.Antiguedad}}<br>
                        <small>{{ verificarVencimientoCotizacion(dataItem.Antiguedad).texto }}</small>
                      </span>
                    </dd>

                    <dt>Prima Total</dt>
                    <dd>$ {{globales.formatearNumero(dataItem.PrimaTotal, 2)}}</dd>

                    <dt>Estado</dt>
                    <dd>{{ convertirNumeroEstado(dataItem.Estado)[0] }}</dd>

                    <dt>Visualizar</dt>
                    <dd>
                      <button class="btn btn-icons btn-broker" (click)="visualizarCotizacion(dataItem)"
                        style="width: 92%">
                        <i class="mdi mdi-eye"></i>
                      </button>
                    </dd>
                  </dl>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column media="(min-width: 800px)" field="Codigo" title="Codigo" width="150"
                [headerStyle]="{'background-color': '#2C2C2C','color': '#fff'}">
              </kendo-grid-column>
              <kendo-grid-column media="(min-width: 800px)" field="Empresa.RazonSocial" title="Empresa / Persona"
                width="240" [headerStyle]="{'background-color': '#2C2C2C','color': '#fff'}">
              </kendo-grid-column>
              <kendo-grid-column media="(min-width: 800px)" field="Empresa.Telefono" title="Contacto" width="110"
                [headerStyle]="{'background-color': '#2C2C2C','color': '#fff'}">
              </kendo-grid-column>
              <kendo-grid-column media="(min-width: 800px)" field="Fecha" title="Generación" width="120"
                [filterable]="false" type="date" [headerStyle]="{'background-color': '#2C2C2C','color': '#fff'}">
              </kendo-grid-column>
              <kendo-grid-column media="(min-width: 800px)" field="Antiguedad" title="Antiguedad" width="130"
                [filterable]="false" [headerStyle]="{'background-color': '#2C2C2C','color': '#fff'}">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <span [ngStyle]="{'color': verificarVencimientoCotizacion(dataItem.Antiguedad).color}">
                    {{dataItem.Antiguedad}}<br>
                    <small>{{ verificarVencimientoCotizacion(dataItem.Antiguedad).texto }}</small>
                  </span>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column media="(min-width: 800px)" field="PrimaTotal" title="Prima Total" width="140"
                [filterable]="false" [headerStyle]="{'background-color': '#2C2C2C','color': '#fff'}">
                <ng-template kendoGridCellTemplate let-dataItem>
                  $ {{globales.formatearNumero(dataItem.PrimaTotal, 2)}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column media="(min-width: 800px)" field="Estado" title="Estado" width="140"
                [headerStyle]="{'background-color': '#2C2C2C','color': '#fff'}">
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{ convertirNumeroEstado(dataItem.Estado)[0] }}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column media="(min-width: 800px)" field="Estado" title="" width="60" [filterable]="false"
                [headerStyle]="{'background-color': '#2C2C2C','color': '#fff'}">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <button type="button" class="btn btn-icons btn-rounded btn-secondary"
                    style="background-color: #434343; color: #fff" (click)="visualizarCotizacion(dataItem)">
                    <i class="mdi mdi-eye"></i>
                  </button>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-messages groupPanelEmpty="Arrastra aquí para agrupar"
                noRecords="No hay elementos que mostrar." pagerPage="Página" pagerOf="de" pagerItems="ítems"
                pagerItemsPerPage="ítems por página" filterClearButton="Limpiar" filterFilterButton="Buscar"
                filterAndLogic="Y" filterOrLogic="O" filterEqOperator="Es igual a" filterNotEqOperator="No es igual a"
                filterContainsOperator="Contiene" filterNotContainsOperator="No contiene"
                filterStartsWithOperator="Comienza con" filterEndsWithOperator="Termina con"
                filterIsNullOperator="Es nulo (null)" filterIsNotNullOperator="No es nulo (null)"
                filterIsEmptyOperator="Esta vacio" filterIsNotEmptyOperator="No está vacío"
                filterAfterOperator="Es posterior a" filterAfterOrEqualOperator="Es posterior o igual a"
                filterBeforeOrEqualOperator="Es anterior o igual a" filterBeforeOperator="Es antes">
              </kendo-grid-messages>

              <kendo-grid-excel fileName="Resumen.xlsx">
                <kendo-excelexport-column field="Codigo" title="Codigo">
                </kendo-excelexport-column>
                <kendo-excelexport-column field="Empresa.RazonSocial" title="Empresa / Persona">
                </kendo-excelexport-column>
                <kendo-excelexport-column field="Empresa.Telefono" title="Contacto">
                </kendo-excelexport-column>
                <kendo-excelexport-column field="Fecha" title="Generación">
                </kendo-excelexport-column>
                <kendo-excelexport-column field="Antiguedad" title="Antiguedad">
                </kendo-excelexport-column>
                <kendo-excelexport-column field="PrimaTotal" title="Prima Total">
                </kendo-excelexport-column>
              </kendo-grid-excel>

              <kendo-grid-pdf fileName="Resumen.pdf" [allPages]="true" paperSize="auto" [scale]="0.8"
                [margin]="{ top: '1cm', left: '1cm', right: '1cm', bottom: '1cm' }" [repeatHeaders]="true"
                [landscape]="true">
                <kendo-grid-column field="Codigo" title="Codigo">
                </kendo-grid-column>
                <kendo-grid-column field="Empresa.RazonSocial" title="Empresa / Persona">
                </kendo-grid-column>
                <kendo-grid-column field="Empresa.Telefono" title="Contacto">
                </kendo-grid-column>
                <kendo-grid-column field="Fecha" title="Generación">
                </kendo-grid-column>
                <kendo-grid-column field="Antiguedad" title="Antiguedad">
                </kendo-grid-column>
                <kendo-grid-column field="PrimaTotal" title="Prima Total">
                </kendo-grid-column>
              </kendo-grid-pdf>
            </kendo-grid>
          </div>
        </div>


        <br>
        <div class="row">
          <div class="col-md-12">
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne" style="cursor: pointer; background-color: #333333">
                  <h5 class="mb-0" style="float: left">
                    Comparativa de Datos | Gráficos
                  </h5>
                  <i style="float: right" class="mdi mdi-chevron-down"></i>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">

                    <div class="container" style="color: black">

                      <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#menu1"> N° Cotizaciones Realizadas</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#home">N° Cotizaciones Emitidas</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#menu2">Recaudado Cotizaciones Emitidas</a>
                        </li>
                      </ul>

                      <div class="tab-content">

                        <div id="menu1" class="container tab-pane active"><br>
                          <small>Gráfico comparativo de cotizaciones realizadas por usuario.</small>
                          <br>
                          <canvas id="canvasSinEmitir" height="100">{{ chartSinEmitir }}</canvas>
                        </div>

                        <div id="home" class="container tab-pane fade"><br>
                          <small>Gráfico comparativo de cotizaciones emitidas por usuario.</small>
                          <br>
                          <canvas id="canvasEmitidas" height="100">{{ chartEmitidas }}</canvas>
                        </div>
                        
                        <div id="menu2" class="container tab-pane fade"><br>
                          <small>Gráfico comparativo total recaudado de cotizaciones emitidas por usuario.</small>
                          <br>
                          <canvas id="canvasTotal" height="100">{{ chartTotal }}</canvas>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo" style="cursor: pointer; background-color: #333333">
                  <h5 class="mb-0" style="float: left">
                    Comparativa Usuarios | Tablas
                  </h5>
                  <i style="float: right" class="mdi mdi-chevron-down"></i>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body" style="color: black">
                    <div class="tale-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Usuario</th>
                            <th>N° Cotizaciones<br>Realizadas</th>
                            <th>N° Cotizaciones<br>Emitidas</th>
                            <th>Ingresos Generados<br>Cotizaciones Emitidas</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let datos of listaEstados">
                            <td>{{obtenerNombre(datos[0].IdUsuario_)}}</td>
                            <td>{{datos[0].SinEmitir}}</td>
                            <td>{{datos[0].Emitidas}}</td>
                            <td>$ {{globales.formatearNumero(datos[0].Total, 2)}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
