<div style="text-align: center; color: white;">
  <span>{{listaAccidentesPersonales[0].Datos.Ramo.Nombre}}</span><br>
  <span>{{listaAccidentesPersonales[0].Datos.Ramo.Rango}}</span>
  <br><br>
</div>

<!-- INICIO RAMO Y SUBRAMOS ACCIDENTES PERSONALES WEB -->
<table id="tablaAccidentesPersonales" class=" subramo-valores-escritorio" border="1">
  <thead style="text-align: center;">
    <tr>
      <th style="width: 20%"> <span *ngIf="usuario.broker.Provincias == 0 ? false : true">Provincia:</span></th>
      <th *ngFor="let direccion of lstDirecciones; let i=index" style="text-align: center; font-weight: bold">
        <span [(ngClass)]="estadoUbicaciones"
          [ngStyle]="{'font-size': (direccion.provincia == 'Global') ?  '0px': '14px'}"
          id="pril{{i+1}}">{{direccion.provincia}}</span>
      </th>
      <th style="width: 12%">TASA</th>
      <th style="width: 10%">PRIMA</th>
      <th style="width: 20%">5000
        DEDUCIBLE<br>
        (POR EVENTO)
      </th>
    </tr>
  </thead>
  <tbody id="tablaBodyAccidentesPersonales">
    <tr *ngIf="listaAccidentesPersonalesDirectivo.length > 0">
      <th [colSpan]="lstDirecciones.length + 4" style="text-align: center; color: white; background-color: #303030">
        Grupo: Personal Directivo</th>
    </tr>
    <tr *ngIf="listaAccidentesPersonalesDirectivo.length > 0">
      <td><b>Número de Personas</b></td>
      <td [colSpan]="lstDirecciones.length + 3">
        <kendo-numerictextbox class="form-control texto" [(ngModel)]="numeroPersonasDirectivo" [autoCorrect]="true"
          [step]="1" [min]="0" [max]="50" [spinners]="false" [decimals]="0" [format]="'n0'"
          (ngModelChange)="calculoMuerteAccidental(listaAccidentesPersonalesDirectivo)">
        </kendo-numerictextbox>
      </td>
    </tr>
    <ng-container *ngFor="let subramosAPD of listaAccidentesPersonalesDirectivo; let i = index">
      <tr *ngIf="listaAccidentesPersonalesDirectivo.length > 0" id="{{subramosAPD.Datos.Codigo}}">
        <td>{{subramosAPD.Datos.Nombre}}</td>
        <td *ngIf="lstDirecciones.length >= 1"
          [colSpan]="general.estiloAgregadoAnual(listaAccidentesPersonalesDirectivo, subramosAPD.Datos.Codigo, lstDirecciones)">
          <span tooltip="{{subramosAPD.Datos.Rango}}" placement="left" show-delay="200" display-mobile="true">
            <div *ngIf="subramosAPD.Datos.Seleccion == 1" style="text-align: center; font-size: 12px" class="row">
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="line-height: 30px; font-size: 10px">Valor por
                Persona</div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="line-height: 30px">
                <input [(ngModel)]="valorPersonasDirectivo" type="number" value="0" step="0.01"
                  class="form-control texto" (keyup)="calculoMuerteAccidental(listaAccidentesPersonalesDirectivo)"
                  (change)="calculoMuerteAccidental(listaAccidentesPersonalesDirectivo)">
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="line-height: 30px; font-size: 10px">Total Valor
                Asegurado</div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="line-height: 30px">
                <input id="{{subramosAPD.Valores.ValorU1.Texto}}" [(ngModel)]="subramosAPD.Valores.ValorU1.Valor"
                  type="number" step="0.01" class="form-control texto"
                  (ngModelChange)="gestionRamoAccidentesPersonales(subramosAPD.Valores.ValorU1.Texto, subramosAPD.Datos.Codigo, 1)"
                  disabled>
              </div>
            </div>
            <div *ngIf="subramosAPD.Datos.Seleccion == 2">
              <input type="number" [(ngModel)]="valorGastosDirectivo" type="number" value="0" step="0.01"
                class="form-control texto" (keyup)="calculoMuerteAccidental(listaAccidentesPersonalesDirectivo)"
                (change)="calculoMuerteAccidental(listaAccidentesPersonalesDirectivo)">
              <div style="display: none">
                <input id="{{subramosAPD.Valores.ValorU1.Texto}}" [(ngModel)]="subramosAPD.Valores.ValorU1.Valor"
                  type="number" step="0.01" class="form-control texto"
                  (ngModelChange)="gestionRamoAccidentesPersonales(subramosAPD.Valores.ValorU1.Texto, subramosAPD.Datos.Codigo, 1)">
              </div>
            </div>
            <input *ngIf="subramosAPD.Datos.Seleccion != 1 && subramosAPD.Datos.Seleccion != 2"
              id="{{subramosAPD.Valores.ValorU1.Texto}}" [(ngModel)]="subramosAPD.Valores.ValorU1.Valor" type="number"
              step="0.01" class="form-control texto"
              (ngModelChange)="gestionRamoAccidentesPersonales(subramosAPD.Valores.ValorU1.Texto, subramosAPD.Datos.Codigo, 1)">
          </span>
        </td>
        <td>
          <kendo-numerictextbox *ngIf="subramosAPD.Datos.MostrarTasa == 1" class="form-control texto"
            [(ngModel)]="subramosAPD.Valores.Tasa" [autoCorrect]="true" [step]="0.01"
            [min]="subramosAPD.Valores.TasaMinima" [max]="subramosAPD.Tasa[0].ValorMaximo" [decimals]="2"
            (ngModelChange)="gestionTasaAccidentesPersonales(subramosAPD.Datos.Codigo, subramosAPD.Valores.Tasa)">
          </kendo-numerictextbox>
        </td>
        <td>
          <span *ngIf="subramosAPD.Datos.MostrarPrima == 1" class="form-control texto-ramos"><span
              style="float: left">$</span>{{globales.formatearNumero(subramosAPD.Valores.Prima, 2)}}</span>
        </td>
        <td>
          <p *ngIf="(subramosAPD.Valores.ValorU1.Valor> 0 ? true: false)" style="text-align: justify">
            <span *ngIf="riesgo == 2">{{subramosAPD.Datos.RiesgoMayor}}</span>
            <span *ngIf="riesgo == 1">{{subramosAPD.Datos.RiesgoMenor}}</span>
          </p>
        </td>
      </tr>
    </ng-container>
    <tr *ngIf="listaAccidentesPersonalesAdmnistrativo.length > 0">
      <th [colSpan]="lstDirecciones.length + 4" style="text-align: center; color: white; background-color: #303030">
        Grupo: Personal Administrativo</th>
    </tr>
    <tr *ngIf="listaAccidentesPersonalesAdmnistrativo.length > 0">
      <td><b>Número de Personas</b></td>
      <td [colSpan]="lstDirecciones.length + 3">
        <kendo-numerictextbox class="form-control texto" [(ngModel)]="numeroPersonasAdmnistrativo" [autoCorrect]="true"
          [step]="1" [min]="0" [max]="50" [spinners]="false" [decimals]="0" [format]="'n0'"
          (ngModelChange)="calculoMuerteAccidental(listaAccidentesPersonalesAdmnistrativo)">
        </kendo-numerictextbox>
      </td>
    </tr>
    <ng-container *ngFor="let subramosAPA of listaAccidentesPersonalesAdmnistrativo">
      <tr *ngIf="listaAccidentesPersonalesAdmnistrativo.length > 0" id="{{subramosAPA.Datos.Codigo}}">
        <td>{{subramosAPA.Datos.Nombre}}</td>
        <td *ngIf="lstDirecciones.length >= 1"
          [colSpan]="general.estiloAgregadoAnual(listaAccidentesPersonalesAdmnistrativo, subramosAPA.Datos.Codigo, lstDirecciones)">
          <span tooltip="{{subramosAPA.Datos.Rango}}" placement="left" show-delay="200" display-mobile="true">
            <div *ngIf="subramosAPA.Datos.Seleccion == 1" style="text-align: center; font-size: 12px" class="row">
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="line-height: 30px; font-size: 10px">Valor por
                Persona</div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="line-height: 30px">
                <input [(ngModel)]="valorPersonasAdmnistrativo" type="number" value="0" step="0.01"
                  class="form-control texto" (keyup)="calculoMuerteAccidental(listaAccidentesPersonalesAdmnistrativo)"
                  (change)="calculoMuerteAccidental(listaAccidentesPersonalesAdmnistrativo)">
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="line-height: 30px; font-size: 10px">Total Valor
                Asegurado</div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="line-height: 30px">
                <input id="{{subramosAPA.Valores.ValorU1.Texto}}" [(ngModel)]="subramosAPA.Valores.ValorU1.Valor"
                  type="number" step="0.01" class="form-control texto"
                  (ngModelChange)="gestionRamoAccidentesPersonales(subramosAPD.Valores.ValorU1.Texto, subramosAPD.Datos.Codigo, 1)"
                  disabled>
              </div>
            </div>
            <div *ngIf="subramosAPA.Datos.Seleccion == 2">
              <input type="number" [(ngModel)]="valorGastosAdministrativo" type="number" value="0" step="0.01"
                class="form-control texto" (keyup)="calculoMuerteAccidental(listaAccidentesPersonalesAdmnistrativo)"
                (change)="calculoMuerteAccidental(listaAccidentesPersonalesAdmnistrativo)">
              <div style="display: none">
                <input id="{{subramosAPA.Valores.ValorU1.Texto}}" [(ngModel)]="subramosAPA.Valores.ValorU1.Valor"
                  type="number" step="0.01" class="form-control texto"
                  (ngModelChange)="gestionRamoAccidentesPersonales(subramosAPA.Valores.ValorU1.Texto, subramosAPA.Datos.Codigo, 1)">
              </div>
            </div>
            <input *ngIf="subramosAPA.Datos.Seleccion != 1 && subramosAPA.Datos.Seleccion != 2"
              id="{{subramosAPA.Valores.ValorU1.Texto}}" [(ngModel)]="subramosAPA.Valores.ValorU1.Valor" type="number"
              step="0.01" class="form-control texto"
              (ngModelChange)="gestionRamoAccidentesPersonales(subramosAPA.Valores.ValorU1.Texto, subramosAPA.Datos.Codigo, 1)">
          </span>
        </td>
        <td>
          <kendo-numerictextbox *ngIf="subramosAPA.Datos.MostrarTasa == 1" class="form-control texto"
            [(ngModel)]="subramosAPA.Valores.Tasa" [autoCorrect]="true" [step]="0.01"
            [min]="subramosAPA.Valores.TasaMinima" [max]="subramosAPA.Tasa[0].ValorMaximo"
            (ngModelChange)="gestionTasaAccidentesPersonales(subramosAPA.Datos.Codigo, subramosAPA.Valores.Tasa)">
          </kendo-numerictextbox>
        </td>
        <td>
          <span *ngIf="subramosAPA.Datos.MostrarPrima == 1" class="form-control texto-ramos"><span
              style="float: left">$</span>{{globales.formatearNumero(subramosAPA.Valores.Prima,2)}}</span>
        </td>
        <td>
          <p *ngIf="(subramosAPA.Valores.ValorU1.Valor> 0 ? true: false)" style="text-align: justify">
            <span *ngIf="riesgo == 2">{{subramosAPA.Datos.RiesgoMayor}}</span>
            <span *ngIf="riesgo == 1">{{subramosAPA.Datos.RiesgoMenor}}</span>
          </p>
        </td>
      </tr>
    </ng-container>
    <tr *ngIf="listaAccidentesPersonalesOperativo.length > 0">
      <th [colSpan]="lstDirecciones.length + 4" style="text-align: center; color: white; background-color: #303030">
        Grupo: Personal Operativo</th>
    </tr>
    <tr *ngIf="listaAccidentesPersonalesOperativo.length > 0">
      <td><b>Número de Personas</b></td>
      <td [colSpan]="lstDirecciones.length + 3">
        <kendo-numerictextbox class="form-control texto" [(ngModel)]="numeroPersonasOperativo" [autoCorrect]="true"
          [step]="1" [min]="0" [max]="50" [spinners]="false" [decimals]="0" [format]="'n0'"
          (ngModelChange)="calculoMuerteAccidental(listaAccidentesPersonalesOperativo)">
        </kendo-numerictextbox>
      </td>
    </tr>
    <ng-container *ngFor="let subramosAPO of listaAccidentesPersonalesOperativo">
      <tr *ngIf="listaAccidentesPersonalesOperativo.length > 0" id="{{subramosAPO.Datos.Codigo}}">
        <td>{{subramosAPO.Datos.Nombre}}</td>
        <td *ngIf="lstDirecciones.length >= 1"
          [colSpan]="general.estiloAgregadoAnual(listaAccidentesPersonalesOperativo, subramosAPO.Datos.Codigo, lstDirecciones)">
          <span tooltip="{{subramosAPO.Datos.Rango}}" placement="left" show-delay="200" display-mobile="true">
            <div *ngIf="subramosAPO.Datos.Seleccion == 1" style="text-align: center; font-size: 12px" class="row">
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="line-height: 30px; font-size: 10px">Valor por
                Persona</div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="line-height: 30px">
                <input [(ngModel)]="valorPersonasOperativo" type="number" value="0" step="0.01"
                  class="form-control texto" (keyup)="calculoMuerteAccidental(listaAccidentesPersonalesOperativo)"
                  (change)="calculoMuerteAccidental(listaAccidentesPersonalesOperativo)">
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="line-height: 30px; font-size: 10px">Total Valor
                Asegurado</div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="line-height: 30px">
                <input id="{{subramosAPO.Valores.ValorU1.Texto}}" [(ngModel)]="subramosAPO.Valores.ValorU1.Valor"
                  type="number" step="0.01" class="form-control texto"
                  (ngModelChange)="gestionRamoAccidentesPersonales(subramosAPD.Valores.ValorU1.Texto, subramosAPD.Datos.Codigo, 1)"
                  disabled>
              </div>
            </div>
            <div *ngIf="subramosAPO.Datos.Seleccion == 2">
              <input type="number" [(ngModel)]="valorGastosOperativo" type="number" value="0" step="0.01"
                class="form-control texto" (keyup)="calculoMuerteAccidental(listaAccidentesPersonalesOperativo)"
                (change)="calculoMuerteAccidental(listaAccidentesPersonalesOperativo)">
              <div style="display: none">
                <input id="{{subramosAPO.Valores.ValorU1.Texto}}" [(ngModel)]="subramosAPO.Valores.ValorU1.Valor"
                  type="number" step="0.01" class="form-control texto"
                  (ngModelChange)="gestionRamoAccidentesPersonales(subramosAPO.Valores.ValorU1.Texto, subramosAPO.Datos.Codigo, 1)">
              </div>
            </div>
            <input *ngIf="subramosAPO.Datos.Seleccion != 1 && subramosAPO.Datos.Seleccion != 2"
              id="{{subramosAPO.Valores.ValorU1.Texto}}" [(ngModel)]="subramosAPO.Valores.ValorU1.Valor" type="number"
              step="0.01" class="form-control texto"
              (ngModelChange)="gestionRamoAccidentesPersonales(subramosAPO.Valores.ValorU1.Texto, subramosAPO.Datos.Codigo, 1)">
          </span>
        </td>
        <td>
          <kendo-numerictextbox *ngIf="subramosAPO.Datos.MostrarTasa == 1" class="form-control texto"
            [(ngModel)]="subramosAPO.Valores.Tasa" [autoCorrect]="true" [step]="0.01"
            [min]="subramosAPO.Valores.TasaMinima" [max]="subramosAPO.Tasa[0].ValorMaximo"
            (ngModelChange)="gestionTasaAccidentesPersonales(subramosAPO.Datos.Codigo, subramosAPO.Valores.Tasa)">
          </kendo-numerictextbox>
        </td>
        <td>
          <span *ngIf="subramosAPO.Datos.MostrarPrima == 1" class="form-control texto-ramos"><span
              style="float: left">$</span>{{globales.formatearNumero(subramosAPO.Valores.Prima,2)}}</span>
        </td>
        <td>
          <p *ngIf="(subramosAPO.Valores.ValorU1.Valor> 0 ? true: false)" style="text-align: justify">
            <span *ngIf="riesgo == 2">{{subramosAPO.Datos.RiesgoMayor}}</span>
            <span *ngIf="riesgo == 1">{{subramosAPO.Datos.RiesgoMenor}}</span>
          </p>
        </td>
      </tr>
    </ng-container>
    <tr>
      <th [colSpan]="lstDirecciones.length + 4" style="background-color: #969696; padding: 3px">
        &nbsp;
      </th>
    </tr>
    <tr *ngFor="let limite of listaAccidentesPersonalesGlobal">
      <td style="text-transform: uppercase; font-weight: bold">{{limite.Datos.Nombre}}</td>
      <td>
        <span *ngIf="tipoValor == 0">$ {{ limite.Valores.ValorU1.Valor }}</span>
        <span *ngIf="tipoValor == 1">{{ limite.Valores.ValorU1.Valor }} Personas</span>
      </td>
      <td colspan="3"></td>
    </tr>
  </tbody>
  <tr *ngIf="usuario.broker.Primas == 1">
    <td [colSpan]="lstDirecciones.length + 2" class="alineacion-tabla"><b>Prima Neta Accidentes Personales &nbsp;</b>
    </td>
    <td><span class="form-control texto-ramos"><span style="float: left">$</span><span
          id="totalFidelidad">{{globales.formatearNumero(general.calcularPrimaTotal(listaAccidentesPersonales), 2)}}</span></span>
    </td>
    <td> &nbsp;{{general.mensajePrimaMinima(listaAccidentesPersonales)}}</td>
  </tr>
</table>
<!-- FIN RAMO Y SUBRAMOS ACCIDENTES PERSONALES WEB -->

<!--INICIO RAMO Y SUBRAMOS ACCIDENTES PERSONALES MÓVIL
<div class="subramo-valores-movil">
  <button class="btn btn-dark boton-oscuro" style="float: right"
    (click)="general.visualizacionInicialSubramoMovil(listaAccidentesPersonalesDirectivo, 1)">
    <i class="mdi mdi-window-minimize"></i>
  </button>
  <button class="btn btn-dark boton-oscuro" style="float: right"
    (click)="general.visualizacionInicialSubramoMovil(listaAccidentesPersonalesDirectivo, 0)">
    <i class="mdi mdi-window-restore"></i>
  </button>
  <br>
  <div class="titulo-ramo-movil">
    Grupo 1: Personal Directivo
  </div>
  <div class="fondo-ramo-movil">
    <span><b>Número de Personas</b></span><br>
    <span>
      <kendo-numerictextbox class="form-control texto" [(ngModel)]="numeroPersonasDirectivo" [autoCorrect]="true"
        [step]="1" [min]="0" [spinners]="false" [decimals]="0" [format]="'n0'"
        (ngModelChange)="calculoMuerteAccidental(listaAccidentesPersonalesDirectivo)">
      </kendo-numerictextbox>
    </span>
  </div>
  <div *ngFor="let subramosMovilAPD of listaAccidentesPersonalesDirectivo">
    <div class="titulo-ramo-movil" (click)="general.visualizacionSubramoMovil(subramosMovilAPD.Datos.Codigo)">
      {{subramosMovilAPD.Datos.Nombre}}
      <span style="float: right;" class="mdi mdi-pencil"></span>
    </div>
    <div class="fondo-ramo-movil" id="MOVIL{{subramosMovilAPD.Datos.Codigo}}">
      <div>
        <div *ngIf="lstDirecciones.length >= 1" tooltip="{{subramosMovilAPD.Datos.Rango}}" placement="top"
          show-delay="1" display-mobile="true" theme="light">
          <b style="display: none">{{lstDirecciones[0].provincia}}</b><br>
          <span style="display: none">
            Ubicación {{lstDirecciones[0].id}}
          </span>
          <span>
            <div *ngIf="subramosMovilAPD.Datos.Seleccion == 1" class="row">
              <div class="col-md-12"><b>Valor por Persona</b></div>
              <div class="col-md-12">
                <input [(ngModel)]="valorPersonasDirectivo" type="number" value="0" step="0.01" min="0"
                  class="form-control texto" (keyup)="calculoMuerteAccidental(listaAccidentesPersonalesDirectivo)"
                  (change)="calculoMuerteAccidental(listaAccidentesPersonalesDirectivo)">
              </div>
              <div class="col-md-12"><br><b>Total Valor Asegurado</b></div>
              <div class="col-md-12">
                <input id="{{subramosMovilAPD.Valores.ValorU1.TextoMovil}}"
                  [(ngModel)]="subramosMovilAPD.Valores.ValorU1.Valor" type="number" step="0.01"
                  class="form-control texto"
                  (ngModelChange)="gestionRamoAccidentesPersonales(subramosMovilAPD.Valores.ValorU1.TextoMovil, subramosMovilAPD.Datos.Codigo, 1)"
                  disabled>
              </div>
            </div>
            <div *ngIf="subramosMovilAPD.Datos.Seleccion == 2" class="row">
              <div class="col-md-12">
                <input type="number" [(ngModel)]="valorGastosDirectivo" type="number" value="0" step="0.01" min="0"
                  class="form-control texto" (keyup)="calculoMuerteAccidental(listaAccidentesPersonalesDirectivo)"
                  (change)="calculoMuerteAccidental(listaAccidentesPersonalesDirectivo)">
              </div>
              <div class="col-md-12" style="display: none">
                <input id="{{subramosMovilAPD.Valores.ValorU1.Texto}}"
                  [(ngModel)]="subramosMovilAPD.Valores.ValorU1.Valor" type="number" step="0.01"
                  class="form-control texto"
                  (ngModelChange)="gestionRamoAccidentesPersonales(subramosMovilAPD.Valores.ValorU1.Texto, subramosMovilAPD.Datos.Codigo, 1)">
              </div>
            </div>
            <input *ngIf="subramosMovilAPD.Datos.Seleccion != 1 && subramosMovilAPD.Datos.Seleccion != 2"
              id="{{subramosMovilAPD.Valores.ValorU1.TextoMovil}}" [(ngModel)]="subramosMovilAPD.Valores.ValorU1.Valor"
              type="number" step="0.01" class="form-control texto"
              (ngModelChange)="gestionRamoAccidentesPersonales(subramosMovilAPD.Valores.ValorU1.TextoMovil, subramosMovilAPD.Datos.Codigo, 1)">
          </span>
          <br>
        </div>
      </div>
      <div>
        <b>TASA</b><br>
        <kendo-numerictextbox class="form-control texto" [(ngModel)]="subramosMovilAPD.Valores.Tasa"
          [autoCorrect]="true" [step]="0.01" [min]="subramosMovilAPD.Valores.TasaMinima"
          (ngModelChange)="gestionTasaAccidentesPersonales(subramosMovilAPD.Datos.Codigo, subramosMovilAPD.Valores.Tasa)">
        </kendo-numerictextbox>
        <br><br>
        <b>PRIMA</b><br>
        <span class="form-control texto-ramos"><span
            style="float: left">$</span>{{subramosMovilAPD.Valores.Prima}}</span><br>
        <b>DEDUCIBLE</b><br>
        <p *ngIf="(subramosMovilAPD.Valores.ValorU1.Valor> 0 ? true: false)" style="text-align: justify">
          <span *ngIf="riesgo == 2">{{subramosMovilAPD.Datos.RiesgoMayor}}</span>
          <span *ngIf="riesgo == 1">{{subramosMovilAPD.Datos.RiesgoMenor}}</span>
        </p>
      </div>
    </div>
  </div>
  <br>
  <button class="btn btn-dark boton-oscuro" style="float: right"
    (click)="general.visualizacionInicialSubramoMovil(listaAccidentesPersonalesAdmnistrativo, 1)">
    <i class="mdi mdi-window-minimize"></i>
  </button>
  <button class="btn btn-dark boton-oscuro" style="float: right"
    (click)="general.visualizacionInicialSubramoMovil(listaAccidentesPersonalesAdmnistrativo, 0)">
    <i class="mdi mdi-window-restore"></i>
  </button>
  <br>
  <div class="titulo-ramo-movil">
    Grupo 2: Personal Administrativo
  </div>
  <div class="fondo-ramo-movil">
    <span><b>Número de Personas</b></span><br>
    <span>
      <kendo-numerictextbox class="form-control texto" [(ngModel)]="numeroPersonasAdmnistrativo" [autoCorrect]="true"
        [step]="1" [min]="0" [spinners]="false" [decimals]="0" [format]="'n0'"
        (ngModelChange)="calculoMuerteAccidental(listaAccidentesPersonalesAdmnistrativo)">
      </kendo-numerictextbox>
    </span>
  </div>
  <div *ngFor="let subramosMovilAPA of listaAccidentesPersonalesAdmnistrativo">
    <div class="titulo-ramo-movil" (click)="general.visualizacionSubramoMovil(subramosMovilAPA.Datos.Codigo)">
      {{subramosMovilAPA.Datos.Nombre}}
      <span style="float: right;" class="mdi mdi-pencil"></span>
    </div>
    <div class="fondo-ramo-movil" id="MOVIL{{subramosMovilAPA.Datos.Codigo}}">
      <div>
        <div *ngIf="lstDirecciones.length >= 1" tooltip="{{subramosMovilAPA.Datos.Rango}}" placement="top"
          show-delay="1" display-mobile="true" theme="light">
          <b style="display: none">{{lstDirecciones[0].provincia}}</b><br>
          <span style="display: none">
            Ubicación {{lstDirecciones[0].id}}
          </span>
          <span>
            <div *ngIf="subramosMovilAPA.Datos.Seleccion == 1" class="row">
              <div class="col-md-12"><b>Valor por Persona</b></div>
              <div class="col-md-12">
                <input [(ngModel)]="valorPersonasAdmnistrativo" type="number" value="0" step="0.01"
                  class="form-control texto" (keyup)="calculoMuerteAccidental(listaAccidentesPersonalesAdmnistrativo)"
                  (change)="calculoMuerteAccidental(listaAccidentesPersonalesAdmnistrativo)">
              </div>
              <div class="col-md-12"><br><b>Total Valor Asegurado</b></div>
              <div class="col-md-12">
                <input id="{{subramosMovilAPA.Valores.ValorU1.TextoMovil}}"
                  [(ngModel)]="subramosMovilAPA.Valores.ValorU1.Valor" type="number" step="0.01"
                  class="form-control texto"
                  (ngModelChange)="gestionRamoAccidentesPersonales(subramosMovilAPA.Valores.ValorU1.TextoMovil, subramosMovilAPA.Datos.Codigo, 1)"
                  disabled>
              </div>
            </div>
            <div *ngIf="subramosMovilAPA.Datos.Seleccion == 2" class="row">
              <div class="col-md-12">
                <input type="number" [(ngModel)]="valorGastosAdministrativo" type="number" value="0" step="0.01"
                  class="form-control texto" (keyup)="calculoMuerteAccidental(listaAccidentesPersonalesAdmnistrativo)"
                  (change)="calculoMuerteAccidental(listaAccidentesPersonalesAdmnistrativo)">
              </div>
              <div class="col-md-12" style="display: none">
                <input id="{{subramosMovilAPA.Valores.ValorU1.Texto}}"
                  [(ngModel)]="subramosMovilAPA.Valores.ValorU1.Valor" type="number" step="0.01"
                  class="form-control texto"
                  (ngModelChange)="gestionRamoAccidentesPersonales(subramosMovilAPA.Valores.ValorU1.Texto, subramosMovilAPA.Datos.Codigo, 1)">
              </div>
            </div>
            <input *ngIf="subramosMovilAPA.Datos.Seleccion != 1 && subramosMovilAPA.Datos.Seleccion != 2"
              id="{{subramosMovilAPA.Valores.ValorU1.TextoMovil}}" [(ngModel)]="subramosMovilAPA.Valores.ValorU1.Valor"
              type="number" step="0.01" class="form-control texto"
              (ngModelChange)="gestionRamoAccidentesPersonales(subramosMovilAPA.Valores.ValorU1.TextoMovil, subramosMovilAPA.Datos.Codigo, 1)">
          </span>
          <br>
        </div>
      </div>
      <div>
        <b>TASA</b><br>
        <kendo-numerictextbox class="form-control texto" [(ngModel)]="subramosMovilAPA.Valores.Tasa"
          [autoCorrect]="true" [step]="0.01" [min]="subramosMovilAPA.Valores.TasaMinima"
          (ngModelChange)="gestionTasaAccidentesPersonales(subramosMovilAPA.Datos.Codigo, subramosMovilAPA.Valores.Tasa)">
        </kendo-numerictextbox>
        <br><br>
        <b>PRIMA</b><br>
        <span class="form-control texto-ramos"><span
            style="float: left">$</span>{{subramosMovilAPA.Valores.Prima}}</span><br>
        <b>DEDUCIBLE</b><br>
        <p *ngIf="(subramosMovilAPA.Valores.ValorU1.Valor> 0 ? true: false)" style="text-align: justify">
          <span *ngIf="riesgo == 2">{{subramosMovilAPA.Datos.RiesgoMayor}}</span>
          <span *ngIf="riesgo == 1">{{subramosMovilAPA.Datos.RiesgoMenor}}</span>
        </p>
      </div>
    </div>
  </div>
  <br>
  <button class="btn btn-dark boton-oscuro" style="float: right"
    (click)="general.visualizacionInicialSubramoMovil(listaAccidentesPersonalesOperativo, 1)">
    <i class="mdi mdi-window-minimize"></i>
  </button>
  <button class="btn btn-dark boton-oscuro" style="float: right"
    (click)="general.visualizacionInicialSubramoMovil(listaAccidentesPersonalesOperativo, 0)">
    <i class="mdi mdi-window-restore"></i>
  </button>
  <br>
  <div class="titulo-ramo-movil">
    Grupo 3: Personal Operativo
  </div>
  <div class="fondo-ramo-movil">
    <span><b>Número de Personas</b></span><br>
    <span>
      <kendo-numerictextbox class="form-control texto" [(ngModel)]="numeroPersonasOperativo" [autoCorrect]="true"
        [step]="1" [min]="0" [spinners]="false" [decimals]="0" [format]="'n0'"
        (ngModelChange)="calculoMuerteAccidental(listaAccidentesPersonalesOperativo)">
      </kendo-numerictextbox>
    </span>
  </div>
  <div *ngFor="let subramosMovilAPO of listaAccidentesPersonalesOperativo">
    <div class="titulo-ramo-movil" (click)="general.visualizacionSubramoMovil(subramosMovilAPO.Datos.Codigo)">
      {{subramosMovilAPO.Datos.Nombre}}
      <span style="float: right;" class="mdi mdi-pencil"></span>
    </div>
    <div class="fondo-ramo-movil" id="MOVIL{{subramosMovilAPO.Datos.Codigo}}">
      <div>
        <div *ngIf="lstDirecciones.length >= 1" tooltip="{{subramosMovilAPO.Datos.Rango}}" placement="top"
          show-delay="1" display-mobile="true" theme="light">
          <b style="display: none">{{lstDirecciones[0].provincia}}</b><br>
          <span style="display: none">
            Ubicación {{lstDirecciones[0].id}}
          </span>
          <span>
            <div *ngIf="subramosMovilAPO.Datos.Seleccion == 1" class="row">
              <div class="col-md-12"><b>Valor por Persona</b></div>
              <div class="col-md-12">
                <input [(ngModel)]="valorPersonasOperativo" type="number" value="0" step="0.01"
                  class="form-control texto" (keyup)="calculoMuerteAccidental(listaAccidentesPersonalesOperativo)"
                  (change)="calculoMuerteAccidental(listaAccidentesPersonalesOperativo)">
              </div>
              <div class="col-md-12"><br><b>Total Valor Asegurado</b></div>
              <div class="col-md-12">
                <input id="{{subramosMovilAPO.Valores.ValorU1.TextoMovil}}"
                  [(ngModel)]="subramosMovilAPO.Valores.ValorU1.Valor" type="number" step="0.01"
                  class="form-control texto"
                  (ngModelChange)="gestionRamoAccidentesPersonales(subramosMovilAPO.Valores.ValorU1.TextoMovil, subramosMovilAPO.Datos.Codigo, 1)"
                  disabled>
              </div>
            </div>
            <div *ngIf="subramosMovilAPO.Datos.Seleccion == 2" class="row">
              <div class="col-md-12">
                <input type="number" [(ngModel)]="valorGastosOperativo" type="number" value="0" step="0.01"
                  class="form-control texto" (keyup)="calculoMuerteAccidental(listaAccidentesPersonalesOperativo)"
                  (change)="calculoMuerteAccidental(listaAccidentesPersonalesOperativo)">
              </div>
              <div class="col-md-12" style="display: none">
                <input id="{{subramosMovilAPO.Valores.ValorU1.Texto}}"
                  [(ngModel)]="subramosMovilAPO.Valores.ValorU1.Valor" type="number" step="0.01"
                  class="form-control texto"
                  (ngModelChange)="gestionRamoAccidentesPersonales(subramosMovilAPO.Valores.ValorU1.Texto, subramosMovilAPO.Datos.Codigo, 1)">
              </div>
            </div>
            <input *ngIf="subramosMovilAPO.Datos.Seleccion != 1 && subramosMovilAPO.Datos.Seleccion != 2"
              id="{{subramosMovilAPO.Valores.ValorU1.TextoMovil}}" [(ngModel)]="subramosMovilAPO.Valores.ValorU1.Valor"
              type="number" step="0.01" class="form-control texto"
              (ngModelChange)="gestionRamoAccidentesPersonales(subramosMovilAPO.Valores.ValorU1.TextoMovil, subramosMovilAPO.Datos.Codigo, 1)">
          </span>
          <br>
        </div>
      </div>
      <div>
        <b>TASA</b><br>
        <kendo-numerictextbox class="form-control texto" [(ngModel)]="subramosMovilAPO.Valores.Tasa"
          [autoCorrect]="true" [step]="0.01" [min]="subramosMovilAPO.Valores.TasaMinima"
          (ngModelChange)="gestionTasaAccidentesPersonales(subramosMovilAPO.Datos.Codigo, subramosMovilAPO.Valores.Tasa)">
        </kendo-numerictextbox>
        <br><br>
        <b>PRIMA</b><br>
        <span class="form-control texto-ramos"><span
            style="float: left">$</span>{{subramosMovilAPO.Valores.Prima}}</span><br>
        <b>DEDUCIBLE</b><br>
        <p *ngIf="(subramosMovilAPO.Valores.ValorU1.Valor> 0 ? true: false)" style="text-align: justify">
          <span *ngIf="riesgo == 2">{{subramosMovilAPO.Datos.RiesgoMayor}}</span>
          <span *ngIf="riesgo == 1">{{subramosMovilAPO.Datos.RiesgoMenor}}</span>
        </p>
      </div>
    </div>
  </div>
  <br>
  <div *ngIf="usuario.broker.Primas == 1">
    <div class="titulo-ramo-movil">
      <b>Prima Neta Accidentes Personales</b>
    </div>
    <div class="fondo-ramo-movil">
      <span class="form-control texto-ramos"><span
          style="float: left">$</span>{{general.calcularPrimaTotal(listaAccidentesPersonales)}}</span>
    </div>
  </div>
</div>
FIN RAMO Y SUBRAMOS ACCIDENTES PERSONALES MÓVIL -->
